<div class="main"
	style="background-color: white; width: 550px; margin-top: 20px; margin-left: 20px;">
	<div class="easyui-panel" style="border-style: none;">
		<form id="editForm" method="post" class="validate">
		<input name="id" hidden="true" value="${item.id}"> 
			<table>
				<tr>
					<th>收件人</th>
					<td><input class="input_text easyui-validatebox" name="rec"
						style="height: 30px;" readonly="readonly" value="${item.sendEntity.username}"></td>

				</tr>
				<tr>
					<th>回复标题</th>
					<td><input class="input_text easyui-validatebox" type="text"
						name="title" data-options="required:true" value="${item.messageEntity.message_title}"></input></td>
				</tr>
				<tr>
					<th>原件内容</th>
					<td><textarea id="content" rows="15" cols="50"
							class="ckeditor">${item.messageEntity.message_context}</textarea>
					</td>
				</tr>
				<tr>
					<th>内容</th>
					<td><textarea class="input_text easyui-validatebox" rows="5"
							cols="" name="context" data-options="required:true"></textarea></td>
				</tr>

			</table>
		</form>
	</div>
</div>