
<!--loading-->
<div class="listloadingd" id="indexLoading"></div>
<!--./loading-->
<div class="indexContent">
	<!-- 销售页面 fang 20150908 -->
	<!--content-->
	<div class="main">

		<!--listtypepd-->
		<div class="listtypepd">
			[#include '/template/front/include/condition.html' /]

			<!--prolistpd-->
			<div class="prolistpd">
				<div class="maintit">
					<h3>商品列表</h3>
				</div>

				<!--promainl-->
				<div class="promainl">
					<!--prosortd-->
					<div class="prosortd">
						<p>综合排序</p>
						<p>
							<input type="radio" s_val="desc" name="popuOrder">
							人气从高到低
						</p>
						<p>
							<input type="radio" s_val="asc" name="popuOrder"> 人气从低到高
						</p>
						<p>
							<input type="radio" s_val="desc" name="priceOrder">
							价格从高到低
						</p>
						<p>
							<input type="radio" s_val="asc" name="priceOrder"> 价格从低到高
						</p>
						<p>
							<input type="radio" s_val="0" name="isNew"> 二手
						</p>
						<p>
							<input type="radio" s_val="1" name="isNew"> 新品
						</p>
						<p>
							<input type="radio" s_val="1" name="isSelf"> 自营商品
						</p>
						<p>
							<a href="javascript:void(0);">发货地</a>
						</p>
					</div>
					<!--./prosortd-->

					<!--prould-->
					<div class="pageList">[#include
						'/template/front/include/dataLists/list.html' /]</div>
				</div>
				<!--./promainl-->

				<!--promainr-->
				<div class="promainr">
					[#list imageList as item]
					<div class="prorpiculd">
						<!--li-->
						<div class="prorpiclid">
							<a href="/product/${item.id}.jhtml" target="_blank">
								<div class="picd">
									<img class="lazy" src="${item.proOriginal1}"
										data-original="${item.proOriginal1}" width="268" height="175">
								</div>
								<div class="infod">
									<h3>产品型号：${item.productBrandEntity.name} ${item.proNo}</h3>
									<p>
										促销价<span><span class="f"> [#if priceType??] [#if
												priceType=='VIP'] [#if item.proVipPrice?? &&
												item.proVipPrice != 0]
												${item.proVipPrice}${message("PriceUnit."+item.proVipPriceLimit)}
												[#else] 电议 [/#if] [/#if] [#if priceType=='同行'] [#if
												item.proPeer?? && item.proPeer != 0]
												${item.proPeer}${message("PriceUnit."+item.proPeerLimit)}
												[#else] 电议 [/#if] [/#if] [#if priceType=='客户'] [#if
												item.proMemberPrice?? && item.proMemberPrice != 0]
												${item.proMemberPrice}${message("PriceUnit."+item.proMemberPriceLimit)}
												[#else] 电议 [/#if] [/#if] [#else] [#if item.proCustomPrice??
												&& item.proCustomPrice != 0]
												${item.proCustomPrice}${message("PriceUnit."+item.proCustomPriceLimit)}
												[#else] 电议 [/#if] [/#if]</span></span>
									</p>
									<i class="bg1"></i>
								</div>
							</a>
						</div>
						<!--./li-->
					</div>
					[/#list]
				</div>
				<!--./promainr-->

			</div>
			<!--./prolistpd-->
			<!-- 搜索条件的隐藏表单 add by fang 20150907-->
			<form method="post" style="display: none" id="searchForm"
				action="/product/dataJson">
				<input name="serTypeIds" value="" /> <input name="indClass" value="" />
				<input name="proClass" value="" /> <input name="brands" value="" />
				<input name="keyword" value="" />
				<!-- 综合排序 -->
				<input name="popuOrder" value="" /> <input name="priceOrder"
					value="" /> <input name="isSelf" value="" /> <input name="isNew"
					value="" /> <input name="outputPlace" value="" />
				<!-- 综合排序 -->

				<!-- 分页-->
				<input name="pageNum" value="" />
			</form>
			<!-- 搜索条件的隐藏表单-->
		</div>
	</div>
</div>
<script src="/statics/front/js/lazyload/jquery.lazyload.min.js"></script> 
<script src="/statics/front/js/jquery.SuperSlide.2.1.1.js"></script> 
<script src="/statics/front/js/main.js"></script>
<script src="/statics/front/js/pro.js"></script>
<script src="/statics/front/js/list.js?isProductSearch=${isProductSearch}"  ></script>
