<div class="main" style="background-color: white;">
	<div class="easyui-panel" style="border-style: none;">
		<form id="editStatForm" action="/adminOrder/updateStat.jspx" method="post">
			<input name="id" value="${order.id}" hidden="true" />
			<table>
				<tr>
					<th>收货人：</th>
					<td><input class="input_text" type="text" name="name" value="${order.addressEntity.recvName}" readonly="readonly"></input></td>
				</tr>
				<tr>
					<th>联系电话：</th>
					<td><input class="input_text" type="text" name="name" value="${order.addressEntity.mobilePhone}" readonly="readonly"></input></td>
				</tr>
				<tr>
					<th>座机：</th>
					<td><input class="input_text" type="text" name="name" value="${order.addressEntity.telQH}-${order.addressEntity.telNumber}" readonly="readonly"></input></td>
				</tr>
				<tr>
					<th>订单编号：</th>
					<td><input class="input_text" type="text" name="title" readonly="readonly" value="${order.orderNumber}" ></input></td>
				</tr>
				<tr>
					<th>原本状态：</th>
					<td>[#if order.status == -1]订单取消[#elseif order.status == 0]等待支付
			            [#elseif order.status == 1]确认订单中[#elseif order.status == 2]仓库开始拣货
			            [#elseif order.status == 3]订单打包中[#elseif order.status == 4]通知快递公司揽件中
			            [#elseif order.status == 5]申请退款中[#elseif order.status == 6]等待收货
			            [#elseif order.status == 7]卖家取消订单[#elseif order.status == 8]已收货
			            [#elseif order.status == 9]交易完成[#elseif order.status == 10]申请退货中
			            [#elseif order.status == 11]退款完成[#elseif order.status == 12]退货完成
			            [#elseif order.status == 13]交易关闭[/#if]
					</td>
				</tr>
				<tr>
					<th>更新状态：</th>
					<td>
						<select name="newStat">
							<option value="1">订单确认中</option>
							<option value="2">仓库开始拣货</option>
							<option value="3">订单打包中</option>
							<option value="4">通知快递公司揽件中</option>
							<option value="6">等待收货</option>
							<option value="7">取消订单</option>
							<option value="8">已收货</option>
							<option value="9">交易完成</option>
							<option value="10">收货后申请退货</option>
							<option value="11">退款完成</option>
							<option value="12">退货完成</option>
						</select>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>