<table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>        
          <tr>
            <th><span>未处理订单：</span></th>
            <td><span><a >0</a>个</span></td>
          </tr>
          <tr>
            <th><span>待发货订单：</span></th>
            <td><span ><a  onclick="parent.addTab1('待发货订单','/b2b2c/shop/admin/order!notShipOrder.do')" class="imp" target="ajax">1</a>个</span></td>
          </tr>
          <tr>
            <th><span>待结算订单：</span></th>
            <td><span><a  onclick="parent.addTab1('待结算订单','/b2b2c/shop/admin/order!notPayOrder.do')" class="imp" target="ajax">2</a>个</span></td>
          </tr>   
          <tr>
            <th><span>已成交订单数：</span></th>
            <td><span><a  onclick="parent.addTab1('已成交订单','/b2b2c/shop/admin/order!list.do?complete=yes')" class="imp" target="ajax">3</a>个</span></td>
          </tr>    
        </tbody>            
</table>