<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>重置密码 - 晧辰仪联网</title>
[#include '/template/front/include/csslist.html' /]
<link rel="stylesheet" href="/statics/front/css/login.css">
</head>
<body>
[#include '/template/front/include/header.html' /]
 <!--loading-->
 <div class="listloadingd" id="indexLoading" ></div>
 <!--./loading-->
<div class="indexContent">
<!--content-->
<div class="main">
  <div class="mainregsubd">
    <div class="titd">重置登录密码</div>
    <div class="uppassbzd">
      <p class="p1">验证身份</p>
      <p class="p2 on">重置登录密码</p>
      <p class="p3">重置成功</p>
    </div>
    <div class="uppassd2">
    <form name="updatePass" id="updatePass" method="post" action="">
      <div class="row">
      	<p class="l"><span>*</span>新密码：</p>
        <p class="r">
          <input type="password" id="password" name="password" class="txt">
        </p>
        <p class="rr"></p>
      </div>
      <div class="row">
      	<p class="l"><span>*</span>重复新密码：</p>
        <p class="r">
          <input type="password" name="password2" id="password2" class="txt">
        </p>
        <p class="rr"></p>
      </div>
      <div class="row">
       	<p class="l">&nbsp;</p>
      	<p class="r"><input type="submit" value="确认修改" class="subbtn" style="border: 0px;"></p>
      </div>
      </form>
    </div>
  </div>
</div>
<!--./content--> 
</div>
<!--foot-->
<div class="footd">
  <div class="main">
    <div class="fcontd">
      <p>Copyright &copy; 2007 All Rights Reserved. 深圳市晧辰电子科技有限公司 版权所有&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">[粤ICP备14101712号-1]</a>&nbsp;<a href="#" target="_blank">[法律顾问]</a></p>
      <p>公司地址：广东省深圳市南山区西丽街道牛成路221号8楼&nbsp;&nbsp;邮编：518055</p>
      <p>在线QQ服务：<a href="#"><img src="/statics/front/images/fico0.png"></a>&nbsp;&nbsp;服务热线：0755－86016691&nbsp;&nbsp;电话：13715327187&nbsp;&nbsp;传真：0755-86641139-816</p>
      <p>E-mail：info@wl95.com</p>
    </div>
    <div class="fimgd"><a href="#" target="_blank"><img src="/statics/front/images/fico1.png"></a><a href="#" target="_blank"><img src="/statics/front/images/fico2.png"></a><a href="#" target="_blank"><img src="/statics/front/images/fico3.png"></a><a href="#" target="_blank"><img src="/statics/front/images/fico4.png"></a></div>
  </div>
</div>
<!--./foot--> 

[#include '/template/front/include/jslist.html' /]
[#-- validate 验证器 --]
<script type="text/javascript" src="${base}/statics/validate/jquery.validate.min.js?version=${setting.basic.siteVersion}"></script>
<script type="text/javascript" src="${base}/statics/validate/jquery.validate.method.min.js?version=${setting.basic.siteVersion}"></script>

<script>
$(function(){
	$("#updatePass").validate({
		rules:{
			password:{
				required:true,
				pattern: /^[0-9a-z_A-Z\u4e00-\u9fa5]+$/,
				minlength:5,
				maxlength:20
			},
			password2:{
				required:true,
				equalTo:"#password"
			}
		},
		messages:{
			password:{
				required:"请输入密码",
				pattern:"密码只允许英文数字及符号^&\"<>",
				minlength:"密码必须在5-20位之间",
				maxlength:"密码必须在5-20位之间"
			},
			password2:{
				required:"请再次输入密码",
				equalTo:"两次密码输入不一致之间"
			}
		},
		errorPlacement:function(error,element){
			element.closest(".row").find(".rr").text(error.text());
		},
		unhighlight:function(element){
			$(element).closest(".row").find(".rr").text("");
		},
		submitHandler:function(form){
			$.ajax({
				dataType:"json",
				type:"post",
				cache:false,
				data:{
					id:${item.id},
					password:$("#password").val()
				},
				url:"/login/updatePassword3.jhtml",
				success:function(result1){
					if(result1.result1 ==1){
						alert(result1.message);
						window.location="/login/updatePassSu.jspx";
					}else{
						alert("密码修改错误, 请重试");
					}
				},
				error:function(){
					alert("出现错误, 请重试");
				}
			});
		}
	});
});

</script>
</body>
</html>
