<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/frontthemes/js/modelcollection.js"></script>
<!--下面两个是品牌选项框提示选择下拉选项的样式-->
<link rel="stylesheet" href="/statics/front/css/postbirdAlertBox.min.css" />
<script type="text/javascript" src="/statics/front/js/postbirdAlertBox.min.js"></script>
<div class="main" style="background-color: white;">
    <div class="easyui-panel" style="border-style: none;">
        <form id="addForm" method="post" class="validate">
            <table>
                <tr style="display: none">
                    <th>行业分类</th><!--隐藏行业分类标签,默认值学校-->
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_industry_class_coll"
                               name="mc_industry_class" data-options="required:false" value="学校"></input>
                    </td>
                </tr>
                <tr>
                    <th>高校名称</th>
                    <td>
                        <input class="easyui-validatebox" id="name" name="name" style="width: 308px; height: 36px;"/><span class="rr_model" style="color: red"></span>
                    </td>
                </tr>
                <tr>
                    <th>实验室</th>
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="laboratory_coll"
                               name="laboratory" data-options="required:false" value=""></input>
                    </td>
                </tr>
                <tr>
                    <th>专业</th>
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_major_coll"
                               name="major" data-options="required:false" value=""></input>
                    </td>
                </tr>
                <tr>
                    <th>老师姓名</th>
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_teacher_coll"
                               name="teacher" data-options="required:false" value=""></input>
                    </td>
                </tr>
                <tr>
                    <th>简历</th>
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_resume_coll"
                               name="resume" data-options="required:false" value=""></input>
                    </td>
                </tr>
                <tr>
                    <th>研究方向</th><!--就是原来的主营产品-->
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="research_direction_coll"
                               name="research_direction" data-options="required:false" value=""></input>
                    </td>
                </tr>
                <tr>
                    <th>研究方向产品名称</th><!--就是原来的主营产品-->
                    <td>
                       <!-- <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="major_product_coll"
                               name="major_product" data-options="required:false" value=""></input>-->
                        <select style="width: 300px; line-height: 36px; height: 36px;"
                                name="major_product"
                                id="major_product_coll" /> </select>
                    </td>
                </tr>
                <tr id="multiple_list">
                    <th>仪器品牌</th>
                    <td >
                        <select style="width: 100px; height: 36px;"  class="easyui-combobox" name="brand" id="brand"></select>
                        仪器型号<input class="input_text easyui-validatebox" style="width: 80px;height: 16px" type="text"
                                   id="model" name="model" data-options="required:false" onblur="additional(0, null, this, null, null)"/>
                        仪器数量<input class="input_text easyui-validatebox" style="width: 80px;height: 16px" type="number" value="1"
                                   id="number" name="number" data-options="required:false" onblur="additional(0, null, null, this, null)"/>
                        仪器名称<select style="width: 180px; height: 36px;"  class="easyui-combotree" name="mc_productclass_name" id="mc_productclass_name"></select>
                        <a href="javascript:void(0)" class="button blueButton"
                           data-options="iconCls:'icon-add',plain:true" onclick="addInput()">再加一个型号</a>
                    </td>
                    <td><span class="rr_brand_and_model" style="color: red"></span></td>
                </tr>
                <!--<tr>
                    <th>常用仪器名称</th>
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_productclass_coll"
                               name="mc_productclass" data-options="required:false" value=""></input>
                    </td>
                </tr>
                <tr>
                    <th>品牌型号</th>
                    <td>

                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_brand_coll"
                               name="mc_brand" data-options="required:false"></input>

                    </td>
                </tr>-->
                <tr>
                    <th>订阅内容</th>
                    <td>

                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="subscribe_content"
                               name="subscribe_content" data-options="required:false"></input>

                    </td>
                </tr>
                <tr id="trr1" >
                    <th id="trr2">联系人</th>
                    <td>
                        <input style="width: 308px; height: 36px;"
                               class="easyui-combobox"
                               name="contact" data-options="valueField:'id',textField:'text',multiple:'true',separator:',',editable:false"
                               id="contact" required="required"/><span style="color:red">* 首个联系人为老师</span>

                    </td>
                </tr>
                <tr>
                    <th>责任人</th>
                    <td>
                        <select style="width: 308px; height: 36px;"
                                class="easyui-combobox"
                                url="/admin/mcMember/get_mcmember_names.jspx" name="blame" data-options="multiple:'true',valueField:'id',textField:'text',editable:false"
                                id="blame" required="required"/> </select>
                    </td>
                </tr>
                <tr>
                    <th>等级</th>
                    <td>
                        <select style="width: 308px; height: 36px;" id="grade" name="grade" class="input_text" required="required">
                            <option value="1">一级</option>
                            <option value="2">二级</option>
                            <option value="3">三级</option>
                            <option value="4">四级</option>
                            <option value="5">五级</option>
                            <option value="6">六级</option>
                            <option value="7">七级</option>
                            <option value="8">八级</option>
                            <option value="9"  selected="selected">九级</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <th>计量时间</th>
                    <td>
                        <select style="width: 308px; height: 36px;" id="measurement_time" name="measurement_time" class="input_text" required="required">
                            <option value="1" selected="selected">一月</option>
                            <option value="2">二月</option>
                            <option value="3">三月</option>
                            <option value="4">四月</option>
                            <option value="5">五月</option>
                            <option value="6">六月</option>
                            <option value="7">七月</option>
                            <option value="8">八月</option>
                            <option value="9">九月</option>
                            <option value="10">十月</option>
                            <option value="11">十一月</option>
                            <option value="12">十二月</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <th>订阅邮件</th>
                    <td>
                        <select style="width: 308px; height: 36px;" id="ckZt" name="ckZt" class="input_text" required="required">
                            <option value="1">是</option>
                            <option value="2" selected="selected">否</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>订阅周期</th>
                    <td>
                        <select style="width: 308px; height: 36px;" id="rate" name="rate" class="input_text" required="required">
                            <option value="1">当天</option>
                            <option value="7" selected="selected">当周</option>
                            <option value="30">当月</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>介绍人</th>
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_introducer_coll"
                               name="mc_introducer" data-options="required:false" value=""></input>
                    </td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td>
                        <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_remark_coll"
                               name="mc_remark" data-options="required:false" value=""></input>
                    </td>
                </tr>
            </table>
            <input type="button"   class="input_text2 easyui-validatebox"   value="添加高校"  onclick="appendmccompanyname2()" style="left: 550px;top: 58px;position: absolute;"/>
            <input type="button"   class="input_text2 easyui-validatebox"   value="添加常用联系人"  onclick="appendcontact()" style="left: 550px;top: 470px;position: absolute;"/>
            <input type="button"   class="input_text2 easyui-validatebox"   value="添加责任人"  onclick="appendmcmember()" style="left: 550px;top: 515px;position: absolute;"/>
        </form>
    </div>
</div>

<script type="text/javascript">
    $('#major_product_coll').combotree({
        width:300,
        method:'get',
        onlyLeafCheck:true,
        url: '/industryClass/combotreeData.json',
        multiple: true
    });
    //下拉树实现自定义查询效果
    $('#name').combobox({
        filter: function(q, row){
            var opts = $(this).combobox('options');
            return row[opts.textField].indexOf(q) >= 0;//这里改成>=即可在任意地方匹配
        }
    });

    var condition_company=true;
    $("#name").combobox({
        required:true,
        valueField:'id',
        textField:'text',
        multiple:false,
        editable:true,
        url:'/admin/mcCompanyName/get_mcmember_names.jspx',
        onSelect:function(node){
            $.ajax({
                url:"/admin/ModelCollection/register.jspx",
                data:{name:node.id},
                dataType:"json",
                type:"post",
                success:function(msg){
                    /*if(msg.cont == 'false'){
                        $(".rr_model").text('数据已存在，请修改！');
                        condition_company=false;
                        return false;
                    }*/
                    if(msg.cont == 'true'){
                        $(".rr_model").text('');
                        condition_company=true;
                        return true;
                    }
                },
                error:function(){
                    alert("网络异常,请重试!");
                    return false;
                }
            });
            $("#contact").combobox('clear');
            var url ='/admin/mcContacts/get_mcmember_names.jspx?mc_company_id='+node.id;
            $("#contact").combobox('reload',url);//input框中有树方法
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: url ,//url
                success: function (result) {
                    for (var i=0;i<result.length;i++){
                        $("#contact").combobox('select',result[i].id);//input框中有树方法
                    }
                },
                error : function() {
                    alert("添加异常！");
                }
            });
        }
    });
</script>
