
.searchCondition > div{
	clear:both;
	padding:0px 22px;
}
.searchCondition li{
	float:left;
	display:inline;
	margin:13px 8px;
	cursor:pointer;
}

.hoverUl li+li:not(.subSearch):hover{
	float: left;
 	display: inline;
  	margin: 4px 1px;
  	cursor: pointer;
  	background-color: #345CA8;
  	border-radius: 5px;
  	padding: 9px 7px;
  	color: #fff;
}

 .hoverStyle{
	 float: left !important;
 	display: inline !important;
  	margin: 4px 1px !important;.
  	cursor: pointer !important;
  	background-color: #345CA8;
  	border-radius: 5px;
  	padding: 9px 7px;
  	color: #fff; 
} 

.searchCondition input[type=text]{
	border: 1px solid #BDB3B3;
	width:100px;
}
.searchCondition input[type=button]{
	padding:1px 4px;
	border-radius: 2px;
	border:0px;
	color:#fff;
}
.searchCondition input[type=button]:hover{
	background-color:#1873FB;
}

.search input[type=text]{
	vertical-align: middle;
  	height: 23px;
  	border: 1px solid #BDB3B3;
  	width: 286px;
  	padding: 0px 0px 3px 15px;
}

.search a img{
	vertical-align:middle;
	height: 32px;
  	line-height: 38px;
 	border-radius: 9px;
 	cursor:pointer;
}

.selectedCondition ul li+li{
	margin:11px 4px;
	padding:0px;
	background-color:#fff;
	border:1px solid #BDB3B3;
}


.selectedCondition ul li span{
	vertical-align:middle;		
}
.selectedCondition ul li img{
	vertical-align:middle;		
}

.focusCaption{
  	 margin-bottom:0px;
     FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#BfC1C3,endColorStr=#fff); /*IE*/ 
 	 background:-moz-linear-gradient(top,#BfC1C3,#fff);/*ç«ç‹*/ 
 	 
  	 background: -webkit-gradient(linear, 0% 0%, 0% 93%,from(#BfC1C3), to(#fff));/*è°·æ­Œ*/
 	 padding:5px 15px; 
}

.focusCaption:hover {
	padding:5px 15px;
    radius:4px;
    background-color: #345CA8;
    color: #fff;
    font-weight: bold;
    border-radius :1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#345CA8,endColorStr=#8AB4E9); /*IE*/ 
 	background:-moz-linear-gradient(top,#345CA8,#8AB4E9);/*ç«ç‹*/ 
	background: -webkit-gradient(linear, 0% 0%, 50% 0%,from(#345CA8), to(#8AB4E9));/*è°·æ­Œ*/
	cursor:pointer;
}
.complexSort li {
	float:left;
	padding:0px 10px;
	vertical-align:middle;
}
.complexSort li >select>option {
	padding:0px;
}
.complexSort li >input {
	vertical-align:middle;
}
.cont-left{
	float:left;
	width:800px;
}
.cont-right{
	float:right;
	width:294px;
}
#schemeData ul li{
	border-top: 1px solid rgb(200, 198, 198);
	margin-bottom:199px;
}
#schemeData ul li >div {
	clear:both;
}
#schemeData ul li img{
	 height: 150px;
 	 width: 167px;
 	 padding-top: 15px;
}
#schemeData ul li >div>div {
	float:left;
}
.schemeitem{
	width:408px;
	height:175px;
	margin-left:30px;
	padding-top:15px;
	font-size:20px;
}
.schemeitem > div:first-child {
	background:#13B5FE;
	padding:1px 20px;
	border-radius: 50px 50px 0px 0px;
}
.schemeitem > div:nth-child(2) {
	background:#CDECFF;
	height: 115px;
}


.detailSaleList ul>li {
	border-bottom: 1px solid #aaa;
	padding: 8px 10px;
  	vertical-align: middle;
  	font-size:15px;
}
.listTitle{
	padding:3px 15px;
    radius:4px;
    background-color: #345CA8;
    color: #fff;
    font-weight: bold;
    border-radius :1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#345CA8,endColorStr=#8AB4E9); /*IE*/ 
 	background:-moz-linear-gradient(top,#345CA8,#8AB4E9);/*ç«ç‹*/ 
	background: -webkit-gradient(linear, 0% 0%, 50% 0%,from(#345CA8), to(#8AB4E9));/*è°·æ­Œ*/
	cursor:pointer;
}
.btn{
	background-color: #345CA8;
    color: #fff;
    border-radius :2px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#F3C630,endColorStr=#F56910); /*IE*/ 
 	background:-moz-linear-gradient(top,#F3C6308,#F56910);/*ç«ç‹*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#F3C630), to(#F56910));/*è°·æ­Œ*/
	cursor:pointer;
	padding: 3px 2px;
  	border: 1px solid #F56910;
  	border-bottom-color: #F3B630;
}
.productDetail{
	width: 480px;
  	background-color: #C6E9FF;
  	font-size: 15px;
  	text-align: center;
}
.productDetail caption{
	background-color: #14B4FE;
  	border-radius: 30px 30px 0px 0px;
  	text-align: left;
  	padding-left: 19px;
  	height: 28px;
  	font-size: 17px;
  	color: #fff;
}
.caption_recommend{
	 margin-bottom:0px;
	  height: 24px;
	  font-size:15px;
	  color:#467FF2;
      FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#BfC1C3,endColorStr=#fff); /*IE*/ 
	  background:-moz-linear-gradient(top,#BfC1C3,#fff);/*ç«ç‹*/ 
	  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#BfC1C3), to(#fff));/*è°·æ­Œ*/
}

.productDetail tr,td{
	border:2px solid #fff;
}
.lease-item{
	width: 410px;
  	background-color: #C6E9FF;
  	font-size: 15px;
  	text-align: center;
}
.itemMore{
	float: right;
  	font-size: 12px;
  	vertical-align: bottom;
  	position: relative;
  	bottom: 17px;
}
.sameTypeProd{
	clear:both;
	width:800px;
}
.sameTypeProd  div{
	float:left;
	width:107px;
	margin-left: 4px;
  	border: 1px solid #c0c0c0;
 	 border-top-color: #fff;
  	height: 63px;
  	border-radius: 0px 0px 15px 15px;
}
.sameTypeProd  div>img{
	 margin: -3px 17px;
  	width: 71px;
}

div.inde {
	width: 1210px;
	margin: 24px auto 0px auto;
}

div.qwe {
	width: 270px;
	float: left;
	display: inline;
	margin-bottom: 477px;
}

div.qwe-t > span {
font-size: 12px;
}

div.qwe-t > span > a {
color: #576267;
}

div.qwe-t > span > a:hover {
color:#1846a8;
}

div.focu {
	cursor: default;
	line-height: 50px;
	margin: 10px 0px 0px 0px;
	FLITER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#dbdbdb,startColorStr=#f5f5f5);
	background: -moz-linear-gradient(top,#dbdbdb,#f5f5f5);
	background: -webkit-gradient(linear,0 0,0 100%, from(#dbdbdb), to(#f5f5f5));
}

    div.focu > span {
    font-size: 22px;
    margin: auto 0px auto 35px;
    color: #4169A6;
    }
    
div.heigh {
    position: relative;
	height: 1180px;
	width: 270px;
	FLITER: progid: DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr=#fff,endColorStr=#ebe0da);
	background: -moz-linear-gradient(top,#fff,#ebe0da);
	background: -webkit-gradient(linear,0 0,0 100%, from(#fff), to(#ebe0da));
}

div.heigh-h {
	line-height: 100px;
	margin: auto 0px auto 80px;
}

.input-button {
	cursor: pointer;
	width: 111px;
	height: 28px;
	font-family: ºÚÌå;
	font-size: 15px;
	font-weight: bold;
	color:#fff;
	background: blue;
	outline: none;
	border: 1px;
	border-radius:3px;
	box-shadow: 1px 1px 1px #888888;
	FLITER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#2560f8,endColorStr=#1698f6);
	background: -moz-linear-gradient(top,#2560f8,#1698f6);
	background: -webkit-gradient(linear,0 0, 0 100%, from(#2560f8), to(#1698f6));
}

div.heigh-ee{
	position: relative;
	cursor: default;
	font-size: 15px;
	font-weight: bold;
	margin: auto 0px auto 15px;	
}

div.heigh-ee > img {
	vertical-align: middle;
}

div.height{
	padding: 5px 0px;
}

div.opa{
	position: absolute;
	left: 10px;
	width: 180px;
	height: 32px;
	background-color: #eee9e6;
	opacity: 0.5;
}

div.heigh-ii {
	cursor: default;
	margin: 0px 0px 0px 43px;
}

    div.heigh-ii > ul {
	    font-size: 13px;
    }

        div.heigh-ii > ul > li {
	        line-height: 26px;
        }
  		div.heigh-ii > ul > li >a:hover {
	                color: #1846a8;
                }
            div.heigh-ii > ul > li >a {
	            color: #5b5a58;
            }

              

div.right{
	float: left;
	width: 920px;
	margin: 44px 0px 0px  20px;
}

div.gradient-t {
	width: 145px;
	height: 35px;
	margin: 0px;
	padding: 0px;
	background:-webkit-gradient(linear,0 0, 0 100%, from(#dfdfdf), to(#fcfffb));
	FLITER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr(#dfdfdf),endColorStr(#fcfffb));
	background: -moz-linear-gradient(top,#dfdfdf,#fcfffb);
	}
	
    div.gradient-t > span {
	     font-size: 17px;
	     color: #4169A6;
	     cursor: default;
	     line-height: 35px;
	     margin: auto 0px auto 35px;
    }
    
div.border-b {
	border-bottom: 2px solid #3743BB;
	width: 920px;
}

div.field-f {
	margin: 44px 0px 0px 0px;
}

div.guan-a {
	line-height: 55px;
	display: block;
}

div.guan-a1 {
	line-height: 110px;
	display: block;
}

     div.field-fi {
	    font-size: 15px;
	    color: #000;
	    float: left;
	    text-align: right;
     	width: 200px;
     	font-family: ËÎÌå;
     }
 
        div.field-fi > span {
	        color: #f00;
	        font-size: 16px;
	        font-family: SimSun;
	        padding:0px 4px 0px 0px;
         }

    div.field-fie {
        width: 290px;
	    margin-left: 210px;
	    font-size: 15px;
	    color: #909090;  
    }
    
    div.field-fiel {
        margin-left: 210px;
        font-size: 15px;
        color: #909090;   
    }
    
.input {
	width:290px;
	line-height: 35px;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0px 0px 0px 2px;
	box-shadow: 0px 2px 2px 0px #eaeaea inset;
	-webkit-box-shadow: 0px 2px 2px 0px #eaeaea inset;
}

.input-in1{
	width: 100px;
	font-size: 15px;
	line-height: 35px;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0px 0px 0px 2px;
	box-shadow: 0px 2px 2px 0px #eaeaea inset;
	-webkit-box-shadow: 0px 2px 2px 0px #eaeaea inset;
}

.input-in2 {
	width: 90px;
	font-size: 15px;
	line-height: 35px;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0px 0px 0px 2px ;
	box-shadow: 0px 2px 2px 0px #eaeaea inset;
	-webkit-box-shadow: 0px 2px 2px 0px #eaeaea inset;
}

.input-in3 {
	width: 85px;
	font-size: 15px;
	line-height: 35px;
	border: 1px solid #ccc;
	border-radius:2px;
	padding: 0px 0px 0px 2px;
	box-shadow: 0px 2px 2px 0px #eaeaea inset;
	-webkit-box-shadow: 0px 2px 2px 0px #eaeaea inset;
}

.input-in4{
	width: 55px;
	font-size: 15px;
	line-height: 35px;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0px 0px 0px 2px;
	box-shadow: 0px 2px 2px 0px #eaeaea inset;
	-webkit-box-shadow: 0px 2px 2px 0px #eaeaea inset;
}

.input-in5 {
	width:50px;
	font-size: 15px;
	line-height: 35px;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0px 0px 0px 2px;
	box-shadow: 0px 2px 2px 0px #eaeaea inset;
	-webkit-box-shadow: 0px 2px 2px 0px #eaeaea inset;
}

.input-in6 {
	width: 110px;
	font-size: 15px;
	line-height: 35px;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0px 0px 0px 2px;
	box-shadow: 0px 2px 2px 0px #eaeaea inset;
	-webkit-box-shadow: 0px 2px 2px 0px #eaeaea inset;
}

div.guan-au {
	line-height: 40px;
}

.check-c {
	vertical-align: middle;
}

#label-l {
	vertical-align: middle;
	font-size: 12px;
	color: #000;'
}

#haochen-h{
	font-size:12px;
	vertical-align: middle;
	color: #0482b4;
}

div.field-fiel > a:hover{
	text-decoration: underline;
}

.button-t {
	width: 125px;
	height: 40px;
	font-size: 18px;
	color:#fff;
	border: 1px solid #c95606;
	border-radius: 2px;
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#fde900), to(#c95606));
	FLITER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fde900,endColorStr=#c95606);
	background: -moz-linear-gradient(top,#fde900,#c95606);
}

div.right-ri {
	margin: 0px 0px 0px 645px;
	position: absolute;
}

div.right-ri > span {
	color: #2071ca;
	font-size: 20px;
	line-height: 45px;
}

div.right-ri > P {
	line-height: 30px;
	font-size: 15px;
	font-family: ËÎÌå;
	color: #000;
}

    div.right-ri > p > span {
        color: #00a4ff;
    }

#vCode1 {
	width: 75px;
	 line-height: 20px; 
	 border: 1px solid #ccc; 
	 display: inline-block;
	 vertical-align: middle;
	 font-variant:small-caps;
	 font-size: 15px;
	 padding-bottom: 20px;
	 margin: 0px 0px 0px 20px;
}

#imgshow {
	width: 95px;
	height: 85px;
	position: absolute;
	padding: 10px 0px 0px 20px;
}

.file {
	vertical-align:middle;
	width: 140px;
}

#imgshow1 {
	width: 95px;
	height: 85px;
	position: absolute;
	padding: 10px 0px 0px 20px;
}




	