@charset "utf-8";
/*public*/
.toplogind{ clear:both; height:79px; background:url(../images/bg_login_top.jpg) repeat-x; overflow:hidden; zoom:1; }
.toplogind .logod{ float:left; padding-right:15px; margin-top:16px; border-right:1px #ddd solid; }
.toplogind .titd{ float:left; padding:35px 0 0 15px; font-size:26px; color:#a3a3a2; }

/*login.html*/
.mainloginpd{ clear:both; background:url(../images/bg_login.jpg) repeat-x; }
.mainlogind{ clear:both; background:url(../images/m3.jpg) center no-repeat; }
.mainlogind .main{ position:relative; height:439px; }

.loginwd{ position:absolute; right:0; top:50%; z-index:888; width:420px; height:350px; margin-top:-185px; background-color:#F7F7F7; border:1px #94B3C7 solid; border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; overflow:hidden; }

.loginnav{ clear:both; height:50px; line-height:50px; font-size:18px; background-color:#C2E4FF; }
.loginnav li{ float:left; width:33.33%; text-align:center; }
.loginnav li a{ height:50px; color:#00a1fc; display:block; }
.loginnav li .ia{ background:url(../images/ico20.png) 15px center no-repeat; padding-left:30px; }
.loginnav li.on a{ background-color:#fff; box-shadow:0 0 2px 2px #bbb; -webkit-box-shadow:0 0 2px 2px #bbb; -moz-box-shadow:0 0 2px 2px #bbb;  }
.loginnav li a:hover{ text-decoration:none; }

.loginformd{ clear:both; width:370px; padding:15px 30px; }
.loginformd .row{ clear:both; padding:10px 0; height:34px; line-height:34px; }
.loginformd .row .l{ float:left; width:70px; padding-right:10px; text-align:right; }
.loginformd .row .r{ float:left; width:280px; }
.loginformd .row .fl{ float:left; width:38%; padding-right:6%; }
.loginformd .row .txt{ width:96%; padding:0 2%; height:32px; line-height:32px; border:1px #ccc solid; }
.loginformd .row .txt1{ width:40%; }
.loginformd .row .btn{border: 0; width:126px; height:40px; line-height:40px; background:url(../images/ico21.png) no-repeat; color:#fff; text-align:center; font-size:18px; display:block; cursor: pointer;}
.loginformd .row .linkd a{ margin-right:9px; font-size:13px; color:#00a1fc; }
.loginformd .row .wjmm{ padding-left:15px; background:url(../images/ico22.png) center left no-repeat; }


/*register.html*/
.mainregd{ clear:both; margin-top:30px; padding-bottom:10px; border:1px #94B3C7 solid; background-color:#F7F7F7; border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; overflow:hidden; position:relative; }

.regnav{ clear:both; width:420px; height:50px; line-height:50px; font-size:18px; background-color:#C2E4FF; }
.regnav li{ float:left; width:33.33%; text-align:center; }
.regnav li a{ height:50px; color:#00a1fc; display:block; }
.regnav li.on a{ background-color:#fff; box-shadow:0 0 2px 2px #bbb; -webkit-box-shadow:0 0 2px 2px #bbb; -moz-box-shadow:0 0 2px 2px #bbb;  }
.regnav li a:hover{ text-decoration:none; }

.regformd{ clear:both; padding:20px 50px; line-height:34px; }
.regformd .row{ clear:both; padding:8px 0; overflow:hidden; zoom:1; }
.regformd .row .l{ float:left; width:150px; padding-right:10px; text-align:right; }
.regformd .row .r{ float:left; width:350px; }
.regformd .row .rr{ float:left; padding-left:15px; font-size:12px; color:#8d8d8d; }
.regformd .row .r .w1{ width:33.33%; }
.regformd .row .r .w2{ width:55%; }
.regformd .row .r .w3{ width:45%; }
.regformd .row .r .w4{ width:25%; }
.regformd .row .r .w5{ width:50%; }

.regformd .row .x{ padding-right:5px; color:#f70000; font-family:"宋体"; font-style:normal; }
.regformd .row .txt{ width:96%; padding:0 2%; height:32px; line-height:32px; border:1px #ccc solid; display:block; background-color:#FFF; }
.regformd .row .txt1{ width:92%; padding:0 4%; }
.regformd .row .txt2{ width:100%; }
.regformd .row .subbtn{ width:126px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; display:block; background:url(../images/ico21.png) center no-repeat;cursor: pointer; }
.regformd .row .subbtn:hover{ text-decoration:none; }
.regformd .row.sf{ height:63px; line-height:63px; }
.regformd .row.sf img{ width:100px; height:63px; }
.regformd .row.tkd{ font-size:13px; }
.regformd .row.tkd a{ color:#00a1fc; }
/*fang 20160316 发送验证码按钮样式*/
.sendText{width: 126px;height: 33px;line-height: 33px;text-align: center;font-size: 15px;color: #fff;display: block;background: url(../images/ico21.png) center no-repeat;border:0px;cursor: pointer;}

/*服务须知*/
.reginfod{ position:absolute; bottom:30px; right:20px; line-height:30px; }
.reginfod h3{ font-size:18px; font-weight:bold; color:#00a1fc; }
.reginfod p span{ color:#00a1fc; }


/*register_sub.html*/
.mainregsubd{ clear:both; width:1000px; margin:0 auto; margin-top:40px; padding:20px; border:1px #94B3C7 solid; background-color:#F7F7F7; border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; overflow:hidden; }
.mainregsubd .titd{ clear:both; height:42px; line-height:42px; padding-bottom:5px; padding-left:60px; font-size:20px; border-bottom:1px #D4D4D4 dotted; font-weight:bold; background:url(../images/ico24.png) no-repeat; }
.mainregsubd .depd{ clear:both; padding:10px; font-size:12px; color:#858585; }
.mainregsubd .infod{ clear:both; width:620px; margin:60px auto 150px auto; padding-bottom:20px; color:#444; font-size:24px; border-bottom:1px #0162FF solid; text-align:center; }
.mainregsubd .infod.jh{ margin:20px auto 20px auto; }
.mainregsubd .infod i{ width:108px; height:111px; background:url(../images/ico25.png) no-repeat; display:inline-block; }

.mainregsubd .regactd{ clear:both; width:600px; margin:0 auto; }
.mainregsubd .regactd p{ clear:both; }
.mainregsubd .regactd .linkuld1{ clear:both; padding:30px 0 40px 0; overflow:hidden; zoom:1; }
.mainregsubd .regactd .linkuld1 li{ float:left; width:125px; height:79px; padding-right:20px; }
.mainregsubd .regactd .linkuld1 li a{ width:125px; height:79px; display:block; }
.mainregsubd .regactd .linkuld1 li.bg1 a{ background:url(../images/ico26_1.png) no-repeat; }
.mainregsubd .regactd .linkuld1 li.bg2 a{ background:url(../images/ico26_2.png) no-repeat; }
.mainregsubd .regactd .linkuld1 li.bg3 a{ background:url(../images/ico26_3.png) no-repeat; }
.mainregsubd .regactd .linkuld1 li.bg4 a{ background:url(../images/ico26_4.png) no-repeat; }
.mainregsubd .regactd .linkuld2{ clear:both; padding:15px 0 60px 0; }
.mainregsubd .regactd .linkuld2 li{ float:left; padding-right:15px; }
.mainregsubd .regactd .linkuld2 a{ color:#0643cc; }

/*user_updatepass.html*/
.uppassbzd{ clear:both; width:782px; height:147px; margin:30px auto; background:url(../images/ico48.png) center top no-repeat; position:relative; font-size:16px; line-height:30px; text-align:center; }
.uppassbzd p.on{ color:#ff0000; }
.uppassbzd .p1{ position:absolute; top:90px; left:-6px; width:100px; }
.uppassbzd .p2{ position:absolute; top:90px; left:326px; width:130px; }
.uppassbzd .p3{ position:absolute; top:90px; right:-6px; width:100px; }

.mainregsubd .infod.uppassd1{ margin-bottom:80px; }
.mainregsubd .uppassd1{ clear:both; font-size:14px; }
.mainregsubd .uppassd1 .tsd{ padding-left:48px; height:43px; line-height:43px; color:#666; background:url(../images/ico49.png) center left no-repeat; }
.mainregsubd .uppassd1 .tsd span{ color:#ff0000; }
.mainregsubd .uppassd1 .btnd{ padding:15px 0 20px 58px; }
.mainregsubd .uppassd1 .btnd a{ width:103px; height:28px; background:url(../images/ico50.png) center no-repeat; text-align:center; color:#fff; display:block; }

.uppassd2{ clear:both; width:760px; margin:0 auto; padding:0 0 80px 0; overflow:hidden; zoom:1; }
.uppassd2 .row{ clear:both; padding:10px 0; line-height:34px; overflow:hidden; zoom:1; }
.uppassd2 .row p{ float:left; }
.uppassd2 .row .l{ float:left; width:150px; padding-right:10px; text-align:right; }
.uppassd2 .row .l span{ color:#ff0000; padding-right:3px; font-family:"宋体"; }
.uppassd2 .row .txt{ width:280px; padding:0 3px; height:32px; line-height:32px; border:1px #ccc solid; }
.uppassd2 .row .txt:focus{ border:1px #666 solid; }
.uppassd2 .row .rr{ padding-left:15px; color:#999; }
.uppassd2 .btnd{ padding:15px 0 20px 160px; }
.uppassd2 .btnd a{ width:103px; height:28px; background:url(../images/ico50.png) center no-repeat; text-align:center; color:#fff; display:block; }

.uppassd2 .row .subbtn{ width:103px; height:28px; color:#fff; display:block; text-align:center; background:url(../images/ico50.png) center no-repeat; }
.uppassd2 .row .subbtn:hover{ text-decoration:none; }

.uppassd3{ clear:both; text-align:center; padding:20px 0 100px 0; color:#858585; }
.uppassd3 a{ margin-top:15px; display:inline-block; color:#00a1fc; }

/** fu wu tiao kuan **/
div.bc-fuwutiaokuan {
	z-index:99;
    position: fixed;
    width: 688px;
    margin: -89px auto 0px 70px;
    background-color: #FAFAFA;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    display: none;
}
div.bc-fwi{
    height: 35px;
    line-height: 35px;
    padding: 0px 8px 0px 8px;
    background-color: #75B3FA;
}
    div.bc-fwi > span.bc-fws {
    float: left;
    color: #fff;
    font-size: 14px;
}
    div.bc-fwi > span.bc-fwc {
    float: right;
    cursor: pointer;
    color: #fff;
}
div.bc-fw-tt {
    text-align: center;
    line-height: 30px;
}
    div.bc-fw-tt > span {
    font-size: 20px;
    }
div.bc-fw-zxyd {
    text-align: center;
}
    div.bc-fw-zxyd > span {
    }
    div.bc-fw-zxyd2 {
    text-align: center;
    line-height: 45px;
}
    div.bc-fw-zxyd2 > span {
    }
div.bc-neirong {
    width: 642px;
    margin: 0px auto 10px auto;
    height: 300px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    overflow-y: scroll;
}
    div.bc-neirong > p {
    text-indent: 30px;
    font-size: 12px;
}
/*- fu wu tiao kuan -*/

div.gmm-ip1 {
    float: left;
    display: block;
    width: 195px;
    height: 26px;
    text-align: right;
}
div.gmm-ip2 {
    float: left;
    display: block;
    border: 1px solid #C0DDFF;
}
div.gmm-pwd {
    height: 26px;
    line-height: 26px;
    margin: 20px 0px 20px 0px;
}
    div.gmm-pwd >div.gmm-ip1> span {
    font-size: 15px;
    }
    div.gmm-pwd >div.gmm-ip2> input {
    height: 22px;
    width: 190px;
    border: 0px;
    outline: none;
}
    div.gmm-rp1 {
    float: left;
    display: inline;
    color: #71C1FF;
    margin: 0px 0px 0px 5px;
}
    div.gmm-rp1 > img {
    margin: 0px 4px -2px 0px;
    }
    div.gmm-rp1 > span {
    }

div.gmm-sbmd {
    float: left;
    display: inline;
    margin: 0px 48px 0px 70px;
    border: 1px solid #9EC1FF;
}
    div.gmm-sbmd > input {
    width: 70px;
    height: 28px;
    border: 0px;
    cursor: pointer;
    color: #00ACFD;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
}
        div.gmm-sbmd > input:hover {
            background-color: #67B6FF;
        
            color: #fff;
}
div.gmm-ddd {
    display:block;
    padding: 0px 0px 0px 126px;
}
div.gmm-cz {
    width: 70px;
    height: 28px;  
    line-height: 30px;
    font-size: 13px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    text-align: center;
    border: 1px solid #9EC1FF;
    display: inline-block;
}
    div.gmm-cz:hover {
        background-color:#fff;
    }
    div.gmm-cz > a {
    display: block;
    color: #00ACFD;
    }
        div.gmm-cz > a:hover {
            text-decoration:underline;
        }
.requireField
{
  padding-right:5px;
  color:red;
}


div.zhc-undfi2{
	line-height: 26px;
	margin: 20px 0px 0px 0px;
}
div.zhc-undfi2 >div.zhc-ip1> span {
font-size: 15px;
}
div.zhc-unprv{
	clear:both;
	padding: 20px 0px 0px 0px;
}
div.zhc-unprv >div.zhc-ip1> span{
	font-size: 15px;
}
div.zhc-prvimd{
	float:left;
	clear: none;
}
