<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="main" style="background-color: white;">
	<div class="easyui-panel" style="border-style: none;">
		<form id="addForm" method="post" class="validate">
			<table>
				<tr>
					<th>签名名称</th>
					<td><input class="input_text easyui-validatebox" type="text"
						name="name" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>签名内容</th>
					<td> <!-- <input class="input_text2 easyui-validatebox" type="text"
						name="content" data-options="required:true"/> -->
						<textarea name="contents" rows="" cols="" style="width: 300px;border: 1px solid #D7D7D7;height: 160px;"></textarea>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>