<div class="main" style="background-color: white;">
	<div class="easyui-panel" style="border-style: none;">
		<form id="editForm" method="post" class="validate">
			<table>
				<tr style="display:none">
					<th>id</th>
					<td><input class="input_text" type="text"
						id="id" name="id" value="${item.id}" data-options="required:true"></input>
					</td>
				</tr>
				
			    <tr>
					<th>模型名</th>
					<td><input class="input_text easyui-validatebox" type="text" id="moduleName" value="${item.moduleName}"
						name="moduleName" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>模型内容</th>
					<td><input class="input_text" type="text"  value="${item.moduleContent}"
						name="moduleContent" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>模型整型</th>
					<td><input class="input_text" type="text" value="${item.moduleInt}"
						name="moduleInt" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>模型时间</th>
					<td><input class="input_text easyui-datebox" type="text"  value="${item.moduleDate}"
						name="moduleDate" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>模型长整型</th>
					<td><input class="input_text" type="text"  value="${item.moduleBD}"
						name="moduleBD" data-options="required:true" ></input>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<script>
</script>