<div class="main" style="background-color: white;">
	<div class="easyui-panel" style="border-style: none;">
		<form id="addForm" method="post" class="validate">
			<table>
			   <tr>
					<th>模型名</th>
					<td><input class="input_text easyui-validatebox" type="text" 
						name="moduleName" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>模型内容</th>
					<td><input class="input_text" type="text" 
						name="moduleContent" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>模型整型</th>
					<td><input class="input_text" type="text" 
						name="moduleInt" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>模型时间</th>
					<td><input class="input_text easyui-datebox" type="text" 
						name="moduleDate" data-options="required:true" ></input>
					</td>
				</tr>
				<tr>
					<th>模型长整型</th>
					<td><input class="input_text" type="text" 
						name="moduleBD" data-options="required:true" ></input>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<script>
</script>