[#list bookListData.cont as item]
<li><a class="book-link" target="_blank" href="/book/${item.id}.jhtml" title="${item.book_name}">
	<div class="pull-left">
		<img class="book-cover" src="/book/${item.id}/cover.jpg" alt="${item.book_name}">
		<div>
			<div class="pull-left book-price">￥${item.book_price}</div>
			<div class="pull-right book-original-price" style="display: none;">${item.book_orginal_price}</div>
		</div>
	</div>
	<div class="pull-right">
		<div class="book-name">${item.book_name}</div>
		<div class="book-score">${item.score_average}</div>
		<div class="${item.book_author}" alt="${item.book_author}">${item.book_author}</div>
		<div class="book-desc text-long" title="${item.book_desc}"><div class="text-real">${item.book_desc}</div><div class="text-more">...</div></div>
		<div class="book-buttons"><button class="btn book-btn btn-long book-btn-preview">立即阅读</button></div>
	</div>
</a></li>
[/#list]
