[#list bookListData.cont as item]
<li>
	<div><a class="book-link" target="_blank" href="/book/${item.id}.jhtml" title="${item.book_name}">
		<div><img class="book-cover" src="/book/${item.id}/cover.jpg" alt="${item.book_name}"></div>
			<div class="book-name">${item.book_name}</div>
	</a>
			<div class="book-score">${item.score_average}</div>
			<div class="book-author" alt="${item.bookVenderEntity.venderName}">${item.bookVenderEntity.venderName}</div>
		<div>
			<div class="pull-left book-price">￥${item.book_price}</div>
			<div class="pull-right book-original-price">￥${item.book_orginal_price}</div>
		</div>
	</div>
</li>
[/#list]
