<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="main" style="background-color: white;">
    <div class="easyui-panel" style="border-style: none;">
        <form id="addForm" method="post" class="validate">
            <table>
                <tr>
                    <th>高校名称</th>
                    <td><input class="input_text easyui-validatebox" type="text" id="cn_name"
                               name="name" data-options="required:true"></input>
                    </td>
                    <td><span class="rr" style="color: red;"></span></td>
                </tr>
                <tr>
                    <th>地址</th>
                    <td>
                        <input class="input_text easyui-validatebox" type="text"
                               id="cn_address"	name="address"  value="${item.job}"></input>
                    </td>
                </tr>
                <tr>
                    <th>电话</th>
                    <td><input class="input_text easyui-validatebox" type="text"
                               id="cn_phone"	name="phone" ></input>
                    </td>
                </tr>
                <tr style="display: none">
                    <th>排序</th>
                    <td><input class="input_text easyui-numberbox" type="text"
                               name="sort" id="cn_sort" data-options="required:true" value="1"></input>
                    </td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td><input class="input_text" type="text" id="cn_remark"
                               name="remark"  ></input>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    var condition_companyname=true;
    /* $("#cn_name").blur(function(){ 	//失去焦点触发
                var name=$("#cn_name").val();
                $.ajax({
                    url:"/admin/mcCompanyName/register.jspx",
                    data:{name:name},
                    dataType:"json",
                    type:"post",
                    success:function(msg){
                        if(msg.cont == 'false'){
                            $(".rr").text('该公司名已存在！');
                            condition_companyname=false;
                            return false;
                        }
                        if(msg.cont == 'true'){
                            $(".rr").text('');
                            condition_companyname=true;
                            return true;
                        }
                    },
                    error:function(){
                        alert("网络异常,请重试!");
                        return false;
                    }
                });
            });  */
    $("#cn_name").blur(function(){ 	//鼠标移动触发
        var name=$("#cn_name").val();
        $.ajax({
            url:"/admin/mcCompanyName/register.jspx",
            data:{name:name},
            dataType:"json",
            type:"post",
            success:function(msg){
                if(msg.cont == 'true'){
                    $(".rr").text('');
                    condition_companyname=true;
                    return true;
                }
            },
            error:function(){
                alert("网络异常,请重试!");
                return false;
            }
        });
    });
</script>
