<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>产品促销 - 晧辰仪联网</title>
[#include '/template/front/include/csslist.html' /]
</head>
<body>
[#include '/template/front/include/header.html' /]
<!--./top--> 
 <!--loading-->
 <div class="listloadingd" id="indexLoading" ></div>
 <!--./loading-->
<!--content-->
<div class="main">
  <div class="mainregsubd">
    <div class="titd">注册激活</div>
    <div class="depd">恭喜您成为晧辰仪联网注册会员，我们将全面支持您的企业活动，免费为您提供最适合您的仪器资源。通过顾问一对一的面谈，充分了解您的期望，根据您以往的常用仪器，为您进行有针对性的推荐。</div>
    <div class="infod jh"><i></i>恭喜您，邮箱激活成功！</div>
    <div class="regactd">
      <p>您现在可以：</p>
      <ul class="linkuld1">
        <li class="bg1"><a href="/user_pub_sale"></a></li>
        <li class="bg2"><a href="/fastSale"></a></li>
        <li class="bg3"><a href="/user/user"></a></li>
        <li class="bg4"><a href="/"></a></li>
      </ul>
      <p>您还可以：</p>
      <ul class="linkuld2">
        <li><a href="#">邮件订阅</a></li>
        <li><a href="#">查看购物车</a></li>
        <li><a href="#">解决方案</a></li>
        <li><a href="#">招标拍卖</a></li>
        <li><a href="#">测试服务</a></li>
        <li><a href="#">自营商品</a></li>
        <li><a href="#">查看帮助</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
    </div>
  </div>
</div>
<!--./content--> 

<!--foot-->
<div class="footd">
  <div class="main">
    <div class="fcontd">
      <p>Copyright &copy; 2007 All Rights Reserved. 深圳市晧辰电子科技有限公司 版权所有&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">[粤ICP备14101712号-1]</a>&nbsp;<a href="#" target="_blank">[法律顾问]</a></p>
      <p>公司地址：广东省深圳市南山区西丽街道牛成路221号8楼&nbsp;&nbsp;邮编：518055</p>
      <p>在线QQ服务：<a href="#"><img src="statics/front/images/fico0.png"></a>&nbsp;&nbsp;服务热线：0755－86016691&nbsp;&nbsp;电话：13715327187&nbsp;&nbsp;传真：0755-86641139-816</p>
      <p>E-mail：info@wl95.com</p>
      <!-- <p style="font-size:15px;color:red;">光通信项目业务负责人：&nbsp;&nbsp;&nbsp;&nbsp;王海涛13715327187&nbsp;&nbsp;&nbsp;&nbsp;赖&nbsp;&nbsp;旭13715283397&nbsp;&nbsp;&nbsp;&nbsp;卫庆利18123986106</p> -->
    </div>
    <div class="fimgd"><a href="#" target="_blank"><img src="statics/front/images/fico1.png"></a><a href="#" target="_blank"><img src="statics/front/images/fico2.png"></a><a href="#" target="_blank"><img src="statics/front/images/fico3.png"></a><a href="#" target="_blank"><img src="statics/front/images/fico4.png"></a></div>
  </div>
</div>
<!--./foot--> 

[#include '/template/front/include/jslist.html' /]
</body>
</html>
