@charset "utf-8";
.helpd{ clear:both; width:1000px; margin:30px auto 40px auto; border:1px #D9D9D9 solid; background-color:#F7F7F7; border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; overflow:hidden; }
.helpd .titd{ clear:both; margin:5px 20px; height:42px; line-height:42px; padding-bottom:5px; padding-left:60px; font-size:20px; border-bottom:1px #D4D4D4 dotted; font-weight:bold; background:url(../images/ico24.png) no-repeat; }
.helpd .tinfod{ clear:both; color:#858585; padding:5px 50px 20px 50px; line-height:30px; }
.helpd .titd2{ clear:both; padding:0 50px; height:44px; line-height:44px; font-size:20px; color:#1b1b1b; background-color:#C2E4FF; }
.helpd img{ display:inline; }
.helpd .blue{ color:#0048b5; }
.helpd .blue2{ color:#4468b0; }
.helpd .red{ color:#f40303; }
.helpd .plr{ padding:0 5px; }

.helpd .mpicd{ clear:both; padding:0 50px 30px 50px; color:#858585; position:relative; }
.helpd .mpicd img{ border:1px #eee solid; }
.helpd .mpicd h3{ position:absolute; right:50px; top:50%; line-height:30px; margin-top:-30px; width:320px; }

/*help_invoice.html*/
.invoiced{ clear:both; padding-bottom:40px; overflow:hidden; zoom:1; }
.invoiced .invcond{ clear:both; padding:10px 50px 20px 50px; line-height:30px; color:#858585; }