@charset "utf-8";
/*news.html*/
.newsnav{ clear:both; height:50px; line-height:50px; font-size:18px; background-color:#C2E4FF; }
.newsnav ul{ clear:both; width:800px; }
.newsnav li{ float:left; width:25%; text-align:center; }
.newsnav li a{ height:50px; color:#00a1fc; display:block; }
.newsnav li.on a{ background-color:#fff; box-shadow:0 0 2px 2px #ccc; -webkit-box-shadow:0 0 2px 2px #ccc; -moz-box-shadow:0 0 2px 2px #ccc;  }
.newsnav li a:hover{ text-decoration:none; }

.newslid{ clear:both; width:1140px; padding:10px 30px 60px 30px; }
.newslid li{ clear:both; padding:15px 0; line-height:20px; overflow:hidden; zoom:1; border-bottom:1px #ddd dotted; }
.newslid li h3{ float:left; width:1000px; padding-left:18px; background:url(../images/ico27.png) center left no-repeat; }
.newslid li p{ float:right; color:#888; }

/*news_details.html*/
.ndetailstitd{ clear:both; height:40px; border-bottom:1px #ddd solid; position:relative; }
.ndetailstitd p{ position:absolute; top:0; left:0; float:left; padding-right:20px; height:40px; line-height:40px; border-bottom:1px #434343 solid; }
.ndetailstitd p span{ color:#0047d9; }

.newsdetailsd{ clear:both; padding:0 50px; color:#515151; }
.newsdetailsd h3{ clear:both; padding:30px 0; font-size:34px; line-height:36px; text-align:center; }
.newsdetailsd .timed{ clear:both; padding-bottom:40px; text-align:right; }
.newsdetailsd .timed i{ padding:0 10px; }
.newsdetailsd .ndinfod{ clear:both; padding-bottom:100px; line-height:30px; }
.newsdetailsd .ndinfod p{ padding-bottom:20px; }

/*hr.html*/
.hrlid{ clear:both; width:1140px; padding:0 30px 60px 30px; }
.hrlid .ndetailstitd{ margin-bottom:20px; }
.hrlid li{ clear:both; padding:15px 0; line-height:20px; overflow:hidden; zoom:1; border-bottom:1px #ddd dotted; }
.hrlid li h3{ float:left; width:1000px; padding-left:18px; background:url(../images/ico27.png) center left no-repeat; }
.hrlid li p{ float:right; color:#888; }

/*brand.html*/
.brandlid{ clear:both; }
.brandlid ul{ width:1226px; padding-top:30px; }
.brandlid li{ float:left; width:290px; margin:0 16px 16px 0; }

/*brand_details.html*/
.branddetailsd{ clear:both; padding:0 50px; color:#515151; }
.branddetailsd h3{ clear:both; padding:40px 0 30px 0; font-size:34px; line-height:36px; text-align:center; }
.branddetailsd h3 img{ display:inline; }
.branddetailsd .ndinfod{ clear:both; border:1px #E1E1E1 solid; padding:15px 30px; line-height:30px; margin-bottom:30px; }
.branddetailsd .ndinfod p{ padding-bottom:20px; }
.branddetailsd .bhrlid{ clear:both; padding-bottom:40px; overflow:hidden; zoom:1; }
.branddetailsd .bhrlid li{ float:left; padding:0 40px 20px 0; }
.branddetailsd .bhrlid li a{ height:25px; line-height:25px; padding:0 15px; background:url(../images/ico28.jpg) repeat-x; color:#0c48ac; border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px; display:inline-block; }

/*datacenter.html*/
.datawhered{ clear:both; padding-bottom:25px; margin-bottom:30px; line-height:34px; overflow:hidden; zoom:1; border-bottom:1px #ddd dotted; }
.datawhered p{ float:left; }
.datawhered .txt{ width:300px; padding:0 10px; height:32px; line-height:32px; border:1px #999 solid; border-right:0; }
.datawhered .btn{ height:34px; line-height:34px; padding:0 15px; background-color:#008BF0; color:#fff; font-size:16px; display:block; cursor:pointer; }
.datawhered .btn:hover{ text-decoration:none; background-color:#006CBD; }
.datawhered .showl{ margin-left:20px; padding-right:15px; background:url(../images/ico31.png) center right no-repeat; }

.datawhered .seld{ clear:both; padding-top:20px; height:32px; line-height:32px; display:none; }
.datawhered .seld p{ float:left; padding-right:30px; }
.datawhered .seld .sel{ height:30px; line-height:30px; }

.datalid{ clear:both; width:1210px; }
.datalid li{ clear:both; margin-bottom:15px; padding:8px 10px; line-height:23px; overflow:hidden; zoom:1; background-color:#F8F8F8; }
.datalid li h3{ float:left; width:800px; padding-left:35px; background:url(../images/ico29.png) center left no-repeat; }
.datalid li .r{ float:right; color:#888; }
.datalid li p{ float:left; }
.datalid li p.d{ padding-left:30px; }
.datalid li p.d a{ width:79px; height:23px; background:url(../images/ico30.png) no-repeat; display:block; }

/*question.html*/
.questiond{ clear:both; width:1000px; margin:30px auto 40px auto; border:1px #D9D9D9 solid; background-color:#F7F7F7; border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; overflow:hidden; }
.questiond .titd{ clear:both; margin:10px 20px; height:42px; line-height:42px; padding-bottom:5px; padding-left:60px; font-size:20px; border-bottom:1px #D4D4D4 dotted; font-weight:bold; background:url(../images/ico24.png) no-repeat; }
.questiond .tinfod{ clear:both; color:#858585; padding:10px 50px 20px 50px; line-height:20px; }
.questiond .mtitd{ clear:both; height:50px; line-height:50px; padding:0 50px; font-size:20px; background-color:#C2E4FF; }
.questiond label{ color:#858585; font-size:15px; cursor:pointer; }
.questiond .contd1{ padding:25px 0 25px 50px; overflow:hidden; zoom:1; }
.questiond .contd1 label{ float:left; padding-right:125px; }
.questiond .contd2{ padding:20px 0 20px 50px; overflow:hidden; zoom:1; }
.questiond .contd2 li{ clear:both; padding:12px 0; overflow:hidden; zoom:1; }
.questiond .contd2 li strong{ float:left; padding-right:86px; font-size:15px; }
.questiond .contd2 li label{ float:left; padding-right:88px; }
.questiond .contd4{ padding:25px 120px 25px 50px; }
.questiond .contd4 .txta{ width:100%; height:150px; border:1px #E8E8E8 solid; background-color:#FFF; }
.questiond .btnd{ clear:both; width:126px; height:40px; padding-right:60px; margin:0 auto; padding-bottom:40px; }
.questiond .btnd a{ width:126px; height:40px; line-height:40px; text-align:center; background:url(../images/ico21.png) no-repeat; color:#FFF; font-size:18px; display:block; }

/*subscription.html*/
/*public*/
.toplogind{ clear:both; height:79px; background:url(../images/bg_login_top.jpg) repeat-x; overflow:hidden; zoom:1; }
.toplogind .main{ width:1000px; }
.toplogind .logod{ float:left; padding-right:15px; margin-top:16px; border-right:1px #ddd solid; }
.toplogind .titd{ float:left; padding:35px 0 0 15px; font-size:26px; color:#a3a3a2; }

.subscd{ clear:both; width:1000px; margin:0 auto; padding:30px 0 10px 0; }

.subscd .cond1{ clear:both; color:#333; overflow:hidden; zoom:1; }
.subscd .cond1 p{ float:left; padding-right:80px; }
.subscd .cond2{ clear:both; padding:20px 0; margin:20px 0; border-top:1px #EEF2F3 solid; border-bottom:1px #EEF2F3 solid; border-left:1px #93B3CA solid; border-right:1px #93B3CA solid; background-color:#F7F7F7; overflow:hidden; zoom:1; }
.subscd .cond2 p{ float:left; width:33.33%; text-align:center; }
.subscd .cond2 p img{ display:inline; }
.subscd .cond3{ clear:both; }
.subscd .cond3 .titd{ height:50px; padding-left:20px; line-height:50px; font-size:16px; font-weight:bold; color:#3A89D8; background-color:#C2E4FF; border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0; }
.subscd .cond3 .depd{ clear:both; padding:5px 0; }
.subscd .cond3 ul{ clear:both; border:1px #C1C1C1 solid; padding:10px; margin:5px 0 15px 0; line-height:36px; overflow:hidden; zoom:1; }
.subscd .cond3 li{ float:left; padding-right:30px; }
.subscd .cond3 li label{ cursor:pointer; }

.subscd .cond4{ clear:both; }
.subscd .cond4 .searchd{ clear:both; height:35px; padding:10px 0; margin-bottom:3px; }
.subscd .cond4 .searchd .txtd{ float:left; }
.subscd .cond4 .searchd .txtd .txt{ width:320px; padding:0 10px; height:33px; line-height:33px; border:1px #ccc solid; }
.subscd .cond4 .searchd .btnd{ float:left; padding-left:8px; }
.subscd .cond4 .searchd .btnd a{ width:100px; padding-left:25px; height:35px; line-height:35px; color:#fff; background:url(../images/ico8.png) no-repeat; display:inline-block; font-size:18px; text-align:center; }
.subscd .cond4 .slistd{ clear:both; height:160px; border:1px #C1C1C1 solid; overflow:hidden; zoom:1; }

.subscd .cond4 .seluld{ font-size:12px; padding:8px 25px; margin:10px 0; border:1px #C1C1C1 solid; overflow:hidden; zoom:1; }
.subscd .cond4 .seluld .name{ float:left; font-size:14px; line-height:28px; }
.subscd .cond4 .seluld .wlid{ float:left; padding:0 20px 0 5px; margin:5px 4px; height:18px; line-height:18px; border:1px #ccc solid; position:relative; }
.subscd .cond4 .seluld .wlid p.ico{ position:absolute; right:2px; top:2px; width:13px; height:13px; }
.subscd .cond4 .seluld .wlid p.ico a{ width:13px; height:13px; background:url(../images/ico7.png) no-repeat; display:inline-block; }

.subscd .cond5{ clear:both; padding:10px 25px; border:1px #C1C1C1 solid; overflow:hidden; zoom:1; }
.subscd .cond5 .titd{ clear:both; }
.subscd .cond5 ul{ clear:both; padding:5px 0 15px 0; font-size:15px; font-weight:bold; line-height:32px; overflow:hidden; zoom:1; }
.subscd .cond5 li{ float:left; padding-right:60px; }
.subscd .cond5 li label{ cursor:pointer; }
.subscd .cond5 .infoul1{ clear:both; padding-bottom:8px; overflow:hidden; zoom:1; }
.subscd .cond5 .infoul1 p{ float:left; padding-right:30px; }
.subscd .cond5 .infoul1 p.w{ width:150px; padding-right:0; }
.subscd .cond5 .infoul1 p label{ cursor:pointer; }
.subscd .cond5 .btnd{ clear:both; padding:10px 0; }
.subscd .cond5 .btnd a{ height:25px; line-height:25px; padding:0 20px; background:url(../images/ico28.jpg) repeat-x; color:#0c48ac;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px; display:inline-block;}

.subscd .cond6{ clear:both; line-height:28px; padding:10px 25px 0 25px; }
.subscd .cond6 h3{ font-size:16px; color:#3A89D8; padding-bottom:5px; }

