
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9">
</meta>
<title>云图商城-后台管理</title>
<style type="text/css">
body {
	margin: 0px;
	font-family: Arial, "宋体", Verdana, sans-serif;
	font-size: 12px;
}

html, body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

dl, dd {
	margin: 0px
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.input_text2{
	border: 1px solid #D7D7D7;
	border-radius: 3PX;
	/*height: 14PX;*/
	padding: 7px 0 7px 5px;
	line-height: 14PX;
	font-size: 12px;
	display: inline-block;
	width:150px;
}

.input_text2:focus {
	border: 1px solid #06F;
	box-shadow: inset 0 1px 2px rgba(0, 102, 255, 0.3);
}

</style>
<script type="text/javascript" src="/editor/ckeditor362/ckeditor.js"></script>
<script type="text/javascript"
	src="/adminthemes/new/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript"
	src="/adminthemes/new/js/jquery-form-2.33.js"></script>
<script type="text/javascript" src="/statics/js/area_sql.js"></script>
<link rel="stylesheet" type="text/css"
	href="/adminthemes/new/js/easy-ui/themes/gray/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="/adminthemes/new/js/easy-ui/themes/icon.css" />
<script type="text/javascript"
	src="/adminthemes/new/js/easy-ui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="/adminthemes/new/js/easy-ui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="/adminthemes/new/js/jquery.blockUI.js"></script>
<script type="text/javascript"
	src="/adminthemes/new/js/jquery.loading.js"></script>
<link href="/adminthemes/new/css/main.css" rel="stylesheet"
	type="text/css" />
<link href="/adminthemes/new/css/style.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="/adminthemes/js/BooCu.js"></script>
<script type="text/javascript"
	src="/adminthemes/new/js/ajaxupload.3.9.js"></script>
<script type="text/javascript" src="/frontthemes/js/easyuiUtil.js"></script>


[#include '/template/admin/include/common.html']

</head>
<body>

	<div id="bookinfo" style="display: none;"></div>
	<div id="loading"></div>
	<div class="main">
		<form id="memberform">
			<div id="tb" style="height: auto">
				<a href="javascript:append()" class="button blueButton"
					data-options="iconCls:'icon-add',plain:true" onclick="ja(0)">添加</a>
				<a href="javascript:void(0)" class="easyui-linkbutton"
					data-options="plain:true" onclick="del()">删除</a>
					
				<span style="float: right;"> 
				<!-- <span >
				行业分类：
				<input style="width: 240px; height: 30px;"
										class="input_text easyui-combotree"
										url="/admin/mcIndustyClass/combotreeData.json" name="mc_industry_class_show" data-options="multiple:true"
										id="mc_industry_class_show" />
				</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span >
				主营产品：
				<input style="width: 240px; height: 30px;"
										class="input_text easyui-combotree"
										url="/admin/mcMajor/combotreeData.json" name="major_product_show" data-options="multiple:true"
										id="major_product_show" />
				</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span >
				常用仪器及品牌型号：
				<input style="width: 240px; height: 30px;"
										class="input_text easyui-combotree"
										url="/admin/basedata/mcproductclass/combotreeData.json" name="mc_productclass_show"
										id="mc_productclass_show" data-options="multiple:true"/>
				</span> -->
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span >
				<!-- <span >
				公司名：
				<input style="width: 200px; height: 30px;"
										class="input_text easyui-combobox"
										url="/admin/mcCompanyName/get_mcmember_names.jspx" name="searchKeyword"
										id="searchKeyword" data-options="multiple:false,cascadeCheck:false,valueField:'id',textField:'text',editable:true"/>
				</span>
				<span >
				行业分类：
				<input style="width: 200px; height: 30px;"
										class="easyui-combobox"
										url="/admin/mcIndustyClass/combotreeData.json" name="mc_industry_class_all" data-options="valueField:'id',multiple:true,textField:'text',editable:true"
										id="mc_industry_class_all"/>
				 <input style="width: 200px; height: 16px;"
										class="input_text easyui-validatebox"
										 name="mc_industry_class_all" data-options="editable:true"
										id="mc_industry_class_all"/> 
				</span> -->
				<span >
				产品名称：
				 <input style="width: 200px; height: 30px;"
										class="easyui-combobox"
										url="/admin/mcMajor/get_major_names.jspx" name="major_product_all" data-options="multiple:false,valueField:'id',textField:'text',editable:true"
										id="major_product_all"/>
								<!--  <input style="width: 200px; height: 16px;"
										class="input_text easyui-validatebox"
										 name="major_product_all" data-options="editable:true"
										id="major_product_all" />  -->		
				</span>
				<span >
				仪器名称：
				<input style="width: 200px; height: 30px;"
										class="easyui-combobox"
										url="/admin/basedata/mcproductclass/get_mcmember_names.jspx" name="mc_productclass_all" data-options="multiple:false,valueField:'id',textField:'text',editable:true"
										id="mc_productclass_all"/>
										<!--  <input style="width: 200px; height: 16px;"
										class="input_text easyui-validatebox"
										 name="mc_productclass_all" data-options="editable:true"
										id="mc_productclass_all"/> -->
				</span>
				<span >
				品牌型号：
				<input style="width: 200px; height: 30px;"
										class="easyui-combobox"
										url="/admin/mcBrand/get_mcmember_names.jspx" name="mc_brand_all" data-options="multiple:false,valueField:'id',textField:'text',editable:true"
										id="mc_brand_all"/>
										<!--  <input style="width: 200px; height: 16px;"
										class="input_text easyui-validatebox"
										 name="mc_brand_all" data-options="editable:true"
										id="mc_brand_all"/> -->
				</span>
				<!-- <span >
				责任人：
				<input style="width: 180px; height: 30px;"
										class="easyui-combobox"
										url="/admin/mcMember/get_mcmember_names.jspx" name="mode_blame" data-options="valueField:'id',textField:'text',editable:true"
										id="mode_blame"/>
				</span> -->
				创建时间：
										<select id="create_date_all" name="create_date_all" class="input_text"  style="width: 100px; height: 32px;">
											<option value='all' selected="selected">全部
											<option value='3'>三天内
											<option value='7'>本周内
											<option value='30'>本月内
										</select>
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<!-- <span id="simpleSearch">
					<input id="searchKeyword" class="input_text" type="text" value="" size="30" style="width: 300px;"
					placeholder="请输入公司名称" name="searchKeyWord">  -->
					<a href="javascript:void(0)" class="easyui-linkbutton" 
					data-options="plain:true" onclick="searchIndustryClass();">搜索</a>
				</span>
			</span>	
					
			</div>

			<div class="clear height10"></div>
			<div class="shadowBoxWhite tableDiv">
				<table class="easyui-datagrid" id="dataList"
					data-options="url:'/admin/ModelCollectionTwo/getGroupData.jspx',pageList: [5,10,15,20],pageSize:10,fitColumns:'true',rownumbers:'true'" nowrap="false"
			pagination="true" sortName="create_date" sortOrder="desc" idField="id" treeField="name" checkbox="true">
					<thead>
						<tr>
							<th data-options="field:'id',checkbox:true"></th>
							<th data-options="field:'mc_industry_class',hidden:true"></th>
							<!-- <th data-options="field:'mc_industry_class_name',width:$(this).width()*0.15,sortable:'true' ,align: 'center'">行业分类</th>
							<th data-options="field:'name_id',hidden:true" formatter="formatup"></th>
							<th data-options="field:'name',width:$(this).width()*0.15,sortable:'true' ,align: 'center'">公司名称</th> -->
							<th data-options="field:'major_product',hidden:true" formatter="formatup"></th>
							<th data-options="field:'major_product_name',width:$(this).width()*0.25,sortable:'true',align: 'center'" formatter="formatupmajor">产品名称</th>
							<th data-options="field:'mc_productclass',hidden:true" formatter="formatup"></th>
							<th data-options="field:'mc_productclass_name',width:$(this).width()*0.25,sortable:'true',align: 'center'" formatter="formatupproductclass">仪器名称</th>
							<th data-options="field:'brand',hidden:true" formatter="formatup"></th>
							<th data-options="field:'brand_name',width:$(this).width()*0.15,sortable:'true',align: 'center'" formatter="formatupbrand">品牌型号</th>
							<!-- <th data-options="field:'mc_model',hidden:true" formatter="formatup"></th>
							<th data-options="field:'mc_model_name',width:$(this).width()*0.2,sortable:'true',align: 'center'" formatter="formatup">型号</th> -->
							<!-- <th data-options="field:'contact',hidden:true" formatter="formatup"></th>
							<th data-options="field:'contact_name',width:$(this).width()*0.15,sortable:'true',align: 'center'" formatter="contactOperation">联系人</th>
							<th data-options="field:'blame',hidden:true" formatter="formatup"></th>
							<th data-options="field:'blame_name',width:$(this).width()*0.1,sortable:'true',align: 'center'" formatter="">责任人</th> -->
							<th data-options="field:'create_date',width:$(this).width()*0.08,sortable:'true',align: 'center'" formatter="formdate">创建时间</th>
							<th
								data-options="field:'action',width:$(this).width()*0.06,align:'center'"
								formatter="formatOperation">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</form>
		<div id="divdia" style="display: none;"></div>
		<div id="divdia2" style="display: none;"></div>
		<div id="divdia3" style="display: none;"></div>

	</div>
	<script type="text/javascript">
	//下拉树实现自定义查询效果
	$('#major_product_all').combobox({  
	    filter: function(q, row){  
	        var opts = $(this).combobox('options');  
	        return row[opts.textField].indexOf(q) >= 0;//这里改成>=即可在任意地方匹配  
	    } 
	});  
	//下拉树实现自定义查询效果
	$('#mc_productclass_all').combobox({  
	    filter: function(q, row){  
	        var opts = $(this).combobox('options');  
	        return row[opts.textField].indexOf(q) >= 0;//这里改成>=即可在任意地方匹配  
	    } 
	});  
	//下拉树实现自定义查询效果
	$('#mc_brand_all').combobox({  
	    filter: function(q, row){  
	        var opts = $(this).combobox('options');  
	        return row[opts.textField].indexOf(q) >= 0;//这里改成>=即可在任意地方匹配  
	    } 
	});  
	
	
	
	
	
	
	function submitForm(map) {
		var data = {};
		data.id=$("#id").val();
		//data.mc_industry_class=$("#mc_industry_class_coll").combobox('getValues').toString();
		//data.mc_industry_class=$("#mc_industry_class_coll").val();
		
		data.major_product=$("#major_product_coll").combobox('getValues').toString();
		//data.major_product=$("#major_product_coll").val();
		
			//var contact2=$("#contact").combobox('getValues');
		//data.contact=contact2.toString();
		
		data.mc_productclass=$("#mc_productclass_coll").combobox('getValues').toString();
		//data.mc_productclass=$("#mc_productclass_coll").val();
		
		data.mc_brand=$("#mc_brand_coll").combobox('getValues').toString();
		
		/* 	var mc_model2=$("#mc_model_coll").combobox('getValues');
		data.mc_model=mc_model2.toString(); */
		
		/* 	var blame2=$("#blame").combobox('getValues');
		data.blame=blame2.toString();
		
		data.name=$("#name").combobox('getValue');   */
		var formflag = $(map["formId"]).form().form('validate');
		
		console.log(data);
		if (formflag && condition_company) {
			$.Loading.show(map["loadshow"]);
			var options = {
				url : map["url"],
				type : "POST",
				dataType : 'json',
				data:data,
				success : function(result) {
					if (result.result == 1) {
						$.Loading.show(result.message);
						$(map["divDialog"]).dialog('close');
						$(map["gridreload"]).datagrid('reload');
						$("#major_product_all").combobox('reload');
						$("#mc_productclass_all").combobox('reload');
						$("#mc_brand_all").combobox('reload');
					}
					if (result.result == 0) {
						$.Loading.error(result.message);
					}
					$.Loading.hide();
				},
				error : function(e) {
					alert("出现错误 ，请重试");
				}
			};
			$.ajax(options);
		}
	}
	
	
	function append(id) {
		var map = {}; // Map map = new HashMap();
		if (!id) {
			map["href"] = "/admin/ModelCollectionTwo/add_modelcollectiontwo.jspx";
			map["formId"] = "#addForm";
			map["url"] = "/admin/ModelCollectionTwo/doAdd_memberGrade.jspx?ajax=yes";
			map["title"] = "添加信息";
			map["loadshow"] = "正在添加......";
		} else {
			map["href"] = "/admin/ModelCollectionTwo/edit_memberGrade.jspx?id=" + id;
			map["formId"] = "#editForm";
			map["url"] = "/admin/ModelCollectionTwo/doEdit_memberGrade.jspx?ajax=yes";
			map["title"] = "修改信息";
			map["loadshow"] = "正修改......";
		}
		map["divDialog"] = "#divdia";
		map["gridreload"] = "#dataList";
		addDialog(map);
	}
	
	function addDialog(map) {
		$(map["divDialog"]).show();
		$(map["divDialog"]).dialog({
			title : map["title"],
			width : 800,
			height : 400,
			closed : false,
			cache : false,
			href : map["href"],
			modal : true,
			buttons : [ {
				text : '保存',
				iconCls : 'icon-ok',
				handler : function() {
					for(instance in CKEDITOR.instances){
						CKEDITOR.instances[instance].updateElement();
					}
					var savebtn = $(this);
	　　				var disabled=savebtn.hasClass("l-btn-disabled");
	　　				if(!disabled){
						 submitForm(map,savebtn);
					}
				}
			}, {
				text : '清空',
				handler : function() {
					clearForm(map);
				}
			} ]
		});
	}
	
	function clearForm(map) {
		$(map["formId"]).form('clear');
	}
	
	function formatOperation(value, row, index) {
		var val = "<a class='edit' title='修改' href='javascript:void(0);' onclick='append("+row.id+")' ></a>";
		return val;
	}
	function formatup(value, row, index) {
		var va=value+"";
		return va.replace(/^,+/,"").replace(/,+$/,"");
	}
	
	//查看联系人的详细信息
	/* function contactOperation(value, row, index) {
		var str='';
		   $.each( row.contact, function(i, n){//将有多个联系人的数据，用a标签拼接成多个，用逗号隔开
					var val = "<a class='details' title='查看' href='javascript:void(0);' onclick='newTab(\""
						+ row.contact_name[i]
						+ "-信息\",\"/admin/mcContacts/edit_memberGrade.jspx?contact_type=contactshow&id="
						+n + "\")' >"+row.contact_name[i]+"</a>";
						str=str+val+',';
			});   
		  return str.replace(/^,+/,"").replace(/,+$/,"");//正则去掉末尾的逗号
		
	} */
	function formatupmajor(value, row, index) {
		var str='';
		   $.each( row.major_product, function(i, n){//将有多个的数据，用a标签拼接成多个，用逗号隔开
					var val = "<a class='details' title='查看' href='javascript:void(0);' onclick='newTab(\""
						+ row.major_product_name[i]
						+ "-信息\",\"/admin/mcMajor/edit_memberGrade.jspx?major_type=majorshow&id="
						+n + "\")' >"+row.major_product_name[i]+"</a>";
						str=str+val+',';
			});   
		  return str.replace(/^,+/,"").replace(/,+$/,"");//正则去掉末尾的逗号
		
	}
	 function formatupproductclass(value, row, index) {
		var str='';
		   $.each( row.mc_productclass, function(i, n){//将有多个的数据，用a标签拼接成多个，用逗号隔开
					var val = "<a class='details' title='查看' href='javascript:void(0);' onclick='newTab(\""
						+ row.mc_productclass_name[i]
						+ "-信息\",\"/admin/basedata/mcproductclass/edit_mcproductclass.jspx?productclass_type=productclassshow&id="
						+n + "\")' >"+row.mc_productclass_name[i]+"</a>";
						str=str+val+',';
			});   
		  return str.replace(/^,+/,"").replace(/,+$/,"");//正则去掉末尾的逗号
		
	}
	function formatupbrand(value, row, index) {
		var str='';
		   $.each( row.brand, function(i, n){//将有多个的数据，用a标签拼接成多个，用逗号隔开
					var val = "<a class='details' title='查看' href='javascript:void(0);' onclick='newTab(\""
						+ row.brand_name[i]
						+ "-信息\",\"/admin/mcBrand/edit_memberGrade.jspx?brand_type=brandshow&id="
						+n + "\")' >"+row.brand_name[i]+"</a>";
						str=str+val+',';
			});   
		  return str.replace(/^,+/,"").replace(/,+$/,"");//正则去掉末尾的逗号
		
	} 
	
	function formnull(value, row, index) {
		if(value == 'undefined'){ 
			return null;
		}
		return value;
	}
	function formdate(value, row, index) {
		if(value != null){
			return new Date(value).format("yyyy-MM-dd");
		}
	}
	function showTemplate(value, row, index) {
			return "<a class='details' title='查看' href='javascript:void(0);' onclick='newTab(\""
			+ row.templatename
			+ "-模版内容\",\"/admin/userGroupMng/getTemplateContext.jspx?template="
			+ row.templateId + "\")' >"+row.templatename+"</a>";
	}
	
	function del() {
		var rows = $('#dataList').datagrid("getSelections");
		if (rows.length < 1) {
			$.Loading.error("请选择要删除的帮助信息");
			return;
		}
		if (!confirm("确认删除选中的信息？")) {
			return;
		}
		var gradeId=[];
		for(var i=0;i<rows.length;i++){
			gradeId[i]=rows[i].id;
		}
		var options = {
			url : "/admin/ModelCollectionTwo/del_memberGrade.jspx?ajax=yes&&gradeId="+gradeId,
			type : "POST",
			success : function(result) {
				
				if (result.result == 1) {
					$.Loading.success(result.message);
					$('#dataList').datagrid('reload');
				}else{
					$.Loading.error(result.message);
				}
			},
			error : function(e) {
				$.Loading.error("出现错误 ，请重试");
			}
		};
		$('#dataList').ajaxSubmit(options);
	}
			
			function clearFormcontact(map) {
				$(map["formId"]).form('clear');
			}
			
			function searchIndustryClass(){
				//var keyword = $("#searchKeyword").combobox('getValues');
				//var mode_blame = $("#mode_blame").combobox('getValues');
				//var mc_industry_class = $("#mc_industry_class_all").val();
				//var major_product = $("#major_product_all").val();
				//var mc_productclass = $("#mc_productclass_all").val();
				//var mode_blame = $("#mode_blame").combobox('getValues');
				var create_date = $("#create_date_all").val();
				/* var mc_industry_class = $("#mc_industry_class_show").combotree('getValues'); */
				var major_product = $("#major_product_all").combobox('getValues');
				var mc_productclass = $("#mc_productclass_all").combobox('getValues');
				var mc_brand = $("#mc_brand_all").combobox('getValues');
				/* $("#dataList").datagrid("reload",{
					keyword:keyword,
					major_product:major_product.toString(),
					mc_industry_class:mc_industry_class.toString()
				}); */
			 $("#dataList").datagrid('options').queryParams = {
				 	/* keyword:keyword.toString(),
				 	mode_blame:mode_blame.toString(),
				 	mc_industry_class:mc_industry_class,
				 	major_product:major_product,
				 	mc_productclass:mc_productclass, */
				 	create_date:create_date,
					major_product:major_product.toString(),
					mc_brand:mc_brand.toString(),
					//mc_industry_class:mc_industry_class.toString(),
					mc_productclass:mc_productclass.toString() 
			};
			$("#dataList").datagrid('reload'); 
			}
			
</script>
</body>
</html>