<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="main" style="background-color: white;">
	<div class="easyui-panel" style="border-style: none;">
		<form id="addForm" method="post" class="validate">
			<table>
			<tr style="display:none">
						<th>id</th>
						<td><input class="input_text easyui-validatebox" type="text"  id="id"
							name="id" data-options="" value="${item.id}" ></input>
						</td>
					</tr>
				<tr>
				<!-- <tr>
					<th>公司名</th>
					<td>
										<input class="easyui-validatebox" id="name" name="name" style="width: 308px; height: 36px;" data-options="value:${item.name}"/>
										<input type="hidden" id=name_fujian value="true"/>
										</td>
					<td><span class="rr_model" style="color: red"></span></td>
				</tr>
				 <tr>
					<th>行业分类</th>
					<td>
						
						<select style="width: 308px; height: 36px;"
										class="easyui-combobox"
										 name="mc_industry_class" data-options="url:'/admin/mcIndustyClass/combotreeData.json',valueField:'id',textField:'text',editable:true,multiple:true"
										id="mc_industry_class_coll" required="required"/> </select>
										<input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_industry_class_coll"
						name="mc_industry_class" data-options="required:false" value="${item.mc_industry_class}"></input>
						
					</td>
				</tr> -->
				<tr>
					<th>主营产品</th>
					<td>
						
						 <input style="width: 308px; height: 36px;"
										class="easyui-combobox"
										 name="major_product"
										id="major_product_coll" data-options="multiple:true,valueField:'id',textField:'text',editable:false" />
						<input type="hidden" id=major_product_fujian value="true"/>
					<!-- 	<input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="major_product_coll"
						name="major_product" data-options="required:false" value="${item.major_product}"></input> -->
						
					</td>
				</tr>
				<tr>
					<th ">常用仪器</th>
					<td>
						
						 <select style="width: 308px; height: 36px;"
										class="easyui-combobox"
										  data-options="multiple:true,valueField:'id',textField:'text',editable:false"
										id="mc_productclass_coll" name="mc_productclass" required="required"/> </select> 
										<input type="hidden" id=mc_productclass_fujian value="true"/> 
										<!-- <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_productclass_coll"
						name="mc_productclass" data-options="required:false" value="${item.mc_productclass}"></input> -->
					</td>
				</tr>
				<tr>
					<th ">品牌型号</th>
					<td>
						
						 <select style="width: 308px; height: 36px;"
										class="easyui-combobox"
										 name="mc_brand"
										id="mc_brand_coll" data-options="multiple:true,valueField:'id',textField:'text',editable:false" required="required"/> </select>
										<input type="hidden" id=mc_brand_fujian value="true"/> 
										<!-- <input style="width: 300px; height: 21px;" class="input_text easyui-validatebox" type="text" id="mc_brand_coll"
						name="mc_brand" data-options="required:false" value="${item.mc_brand}"></input> -->
					</td>
				</tr>
				<!-- <tr>
					<th ">型号</th>
					<td>
						
						<select style="width: 308px; height: 36px;"
										class="easyui-combobox"
										 name="mc_model"
										id="mc_model_coll" data-options="multiple:true,cascadeCheck:false,valueField:'id',textField:'text',editable:false" required="required"/> </select>
										<input type="hidden" id=mc_model_fujian value="true"/>
					</td>
				</tr> -->
			<!-- 	<tr id="trr1" >
					<th id="trr2">联系人</th>
					<td>
					 	<input style="width: 308px; height: 36px;"
										class="easyui-combobox"
										 name="contact" data-options="valueField:'id',textField:'text',multiple:'true',editable:false"
										id="contact" required="required"/> 
					</td>
				</tr>
				<tr>
					<th>责任人</th>
					<td>
						<input style="width: 308px; height: 36px;"
										class="easyui-combobox"
										url="/admin/mcMember/get_mcmember_names.jspx" name="blame" data-options="valueField:'id',textField:'text',editable:false"
										id="blame" required="required"/> 
						
					</td>
				</tr> -->
			</table>
			<!-- <input type="button"   class="input_text2 easyui-validatebox"   value="添加公司"  onclick="appendmccompanyname()" style="left: 515px;top: 58px;position: absolute;"/> -->
			<!-- <input type="button"   class="input_text2 easyui-validatebox"   value="添加行业"  onclick="appendmcindustryclass()" style="left: 515px;top: 103px;position: absolute;"/> -->
			<input type="button"   class="input_text2 easyui-validatebox"   value="添加产品"  onclick="appendmcmajortwo()" style="left: 515px;top: 58px;position: absolute;"/>
			<input type="button"   class="input_text2 easyui-validatebox" id="ddd"  value="添加仪器"  onclick="appendmcproductclasstwo()" style="left: 515px;top: 103px;position: absolute;"/>
			<input type="button"   class="input_text2 easyui-validatebox" id="ddd"  value="添加品牌型号"  onclick="appendmcbrandtwo()" style="left: 515px;top: 150px;position: absolute;"/>
			<!-- <input type="button"   class="input_text2 easyui-validatebox" id="ddd"  value="添加型号"  onclick="appendmcmodel()" style="left: 515px;top: 280px;position: absolute;"/> -->
			<!-- <input type="button"   class="input_text2 easyui-validatebox"   value="添加常用联系人"  onclick="appendcontact()" style="left: 515px;top: 284px;position: absolute;"/>
			<input type="button"   class="input_text2 easyui-validatebox"   value="添加责任人"  onclick="appendmcmember()" style="left: 515px;top: 330px;position: absolute;"/> -->
		</form>
	</div>
</div>

<script type="text/javascript">
function aa(){
	var mc_productclass2=$("#mc_productclass11").combotree('getValues');
	alert(mc_productclass2);
}
/* $("#mc_productclass11").combotree({
	checkbox:true,
	multiple:true,
	cascadeCheck:true,
	required:false,
	url:'/admin/basedata/mcproductclass/combotreeData.json',
	onSelect:function(node){
		if(node.attributes.parent_type_id == '0'){
			$("#mc_productclass11").combotree('clear');
			alert('提示',"请选择详细类别");  
			return false;
		}
	}
}); */

 /*    $("#mc_productclass11").combotree({
    	url:'/admin/basedata/mcproductclass/combotreeData.json',
        checkbox: true,
        cascadeCheck: true,
        multiple:true,
        onCheck: function (node, checked) {
            if (checked) {
                var parentNode = $("#mc_productclass11").tree('getParent', node.target);
        	alert(parentNode);
                if (parentNode != null) {
                    $("#mc_productclass11").tree('check', parentNode.target);
                }
            } else {
                var childNode = $("#mc_productclass11").tree('getChildren', node.target);
                if (childNode.length > 0) {
                    for (var i = 0; i < childNode.length; i++) {
                        $("#mc_productclass11").tree('uncheck', childNode[i].target);
                    }
                }
            }
        }
    }); */
    
    
    
    
   /*   $('#mc_industry_class_coll').combobox({    
	    url: '/admin/mcIndustyClass/combotreeData.json',
	    onLoadSuccess:function(node,data){ 
	    	if('${item.mc_industry_class}' != ''){
	            var da='${item.mc_industry_class}';
	            var ary =da.split(",");
	            var a = new Array();
	            $.each(ary,function(i,item){//因后台取出的值是字符串，combotree将字符串组作为一个整体，故需将字符串按，截取并重新放入array数组。组成combotree识别的[a,b,c]模式（该步骤是获取后台的主营产品品牌等分类数组，使combotree选中已经选中的值）
	            	a[i] = item;
	            	})
		    	$('#mc_industry_class_coll').combobox('setValues', a);
	    	}
         }  
	    
	});   */
    
    
    	
    	   $('#major_product_coll').combobox({    
	    url: '/admin/mcMajor/get_major_names.jspx?mc_industry_id='+'${item.mc_industry_class}',
	    onLoadSuccess:function(node,data){
	    	if('${item.major_product}' != '' && $("#major_product_fujian").val() == 'true' ){//$("#major_product_fujian").val() == 'true' 下面代码只在页面第一次加载时运行，防止在选择行业分类重新加载树时，下面代码依然运行。造成树无法clear干净
	            var da='${item.major_product}';
	            var ary =da.split(",");
	            var a = new Array();
	            $.each(ary,function(i,item){//因后台取出的值是字符串，combotree将字符串组作为一个整体，故需将字符串按，截取并重新放入array数组。组成combotree识别的[a,b,c]模式（该步骤是获取后台的主营产品品牌等分类数组，使combotree选中已经选中的值）
	            	a[i] = item;
	            	})
		    	$('#major_product_coll').combobox('setValues', a);
	    	}
         }  
	    
	});  
     
      $('#mc_productclass_coll').combobox({    
	    url: '/admin/basedata/mcproductclass/get_mcmember_names.jspx?mc_major_id='+'${item.major_product}',
	    onLoadSuccess:function(node,data){ 
	    	if('${item.mc_productclass}' != '' && $("#mc_productclass_fujian").val() == 'true' ){
	            var da='${item.mc_productclass}';
	            var ary =da.split(",");
	            var a = new Array();
	            $.each(ary,function(i,item){//因后台取出的值是字符串，combotree将字符串组作为一个整体，故需将字符串按，截取并重新放入array数组。组成combotree识别的[a,b,c]模式（该步骤是获取后台的主营产品品牌等分类数组，使combotree选中已经选中的值）
	            	a[i] = item;
	            	})
		    	$('#mc_productclass_coll').combobox('setValues', a);
	    	}
         }  
	    
	});   
      $('#mc_brand_coll').combobox({    
	   // url: '/admin/mcBrand/get_model_names.jspx',
	    url: '/admin/mcBrand/get_mcmember_names.jspx?mc_product_id='+'${item.mc_productclass}',
	    onLoadSuccess:function(node,data){ 
	    	if('${item.mc_brand}' != ''  && $("#mc_brand_fujian").val() == 'true' ){
	            var da='${item.mc_brand}';
	            var ary =da.split(",");
	            var a = new Array();
	            $.each(ary,function(i,item){//因后台取出的值是字符串，combotree将字符串组作为一个整体，故需将字符串按，截取并重新放入array数组。组成combotree识别的[a,b,c]模式（该步骤是获取后台的主营产品品牌等分类数组，使combotree选中已经选中的值）
	            	a[i] = item;
	            	})
		    	$('#mc_brand_coll').combobox('setValues', a);
	    	}
         }  
	    
	});   
    /*  $('#mc_model_coll').combobox({    
	    //url: '/admin/mcModel/get_names_two.jspx',
	    url: '/admin/mcModel/get_mcmember_names.jspx?mc_model_id='+'${item.mc_brand}',
	    onLoadSuccess:function(node,data){ 
	    	if('${item.mc_model}' != ''   && $("#mc_model_fujian").val() == 'true' ){
	            var da='${item.mc_model}';
	            var ary =da.split(",");
	            var a = new Array();
	            $.each(ary,function(i,item){//因后台取出的值是字符串，combotree将字符串组作为一个整体，故需将字符串按，截取并重新放入array数组。组成combotree识别的[a,b,c]模式（该步骤是获取后台的主营产品品牌等分类数组，使combotree选中已经选中的值）
	            	a[i] = item;
	            	})
		    	$('#mc_model_coll').combobox('setValues', a);
	    	}
         }  
	    
	});   */
  /*    $('#contact').combobox({    
	    //url: '/admin/mcContacts/get_mcmember_names.jspx',
	    url: '/admin/mcContacts/get_mcmember_names.jspx?mc_company_id='+'${item.name}',
	    onLoadSuccess:function(node,data){ 
	    	if('${item.contact}' != ''  && $("#name_fujian").val() == 'true' ){
	            var da='${item.contact}';
	            var ary =da.split(",");
	            var a = new Array();
	            $.each(ary,function(i,item){//因后台取出的值是字符串，combotree将字符串组作为一个整体，故需将字符串按，截取并重新放入array数组。组成combotree识别的[a,b,c]模式（该步骤是获取后台的主营产品品牌等分类数组，使combotree选中已经选中的值）
	            	a[i] = item;
	            	})
		    	$('#contact').combobox('setValues', a);
	    	}
         }  
	});   */
    /*  $('#blame').combobox({    
	    url: '/admin/mcMember/get_mcmember_names.jspx',
	    onLoadSuccess:function(node,data){ 
	    	if('${item.blame}' != ''){
	            var da='${item.blame}';
	            var ary =da.split(",");
	            var a = new Array();
	            $.each(ary,function(i,item){//因后台取出的值是字符串，combotree将字符串组作为一个整体，故需将字符串按，截取并重新放入array数组。组成combotree识别的[a,b,c]模式（该步骤是获取后台的主营产品品牌等分类数组，使combotree选中已经选中的值）
	            	a[i] = item;
	            	})
		    	$('#blame').combobox('setValues', a);
	    	}
         }  
	});  */
     
     
     /*
 	新增行业
 	*/
 	function submitFormmcindustryclass(map) {
 		
 	var data = {};
 	//data.status=$("#me_status").combobox('getValue');
 	data.name=$("#in_name").val();
 	data.sort=$("#in_sort").val();
 	data.remark=$("#in_remark").val();
 	//var formflag = $(map["formId"]).form().form('validate');
 	if (data.name != '' && data.sort != '') {
 		$.Loading.show(map["loadshow"]);
 		var options = {
 			url : map["url"],
 			type : "POST",
 			dataType : 'json',
 			data:data,
 			success : function(result) {
 				if (result.result == 1) {
 					$.Loading.show(result.message);
 					$(map["divDialog"]).dialog('close');
 					//$(map["gridreload"]).datagrid('reload');
 					$('#mc_industry_class_coll').combobox('reload');//新增后，刷新树
 				}
 				if (result.result == 0) {
 					$.Loading.error(result.message);
 				}
 				$.Loading.hide();
 			},
 			error : function(e) {
 				alert("出现错误 ，请重试");
 			}
 		};
 		console.log(data);
 		$.ajax(options);
 	}
 	}
 	
 	
 	function appendmcindustryclass(id) {
 		var map = {}; // Map map = new HashMap();
 		if (!id) {
 			map["href"] = "/admin/mcIndustyClass/add_mcIndustryClass.jspx";
 			map["formId"] = "#addForm";
 			map["url"] = "/admin/mcIndustyClass/save_mcIndustryClass.jspx?ajax=yes";
 			map["title"] = "添加行业";
 			map["loadshow"] = "正在添加......";
 		} else {
 			map["href"] = "/admin/mcIndustyClass/edit_mcIndustryClass.jspx?id=" + id;
 			map["formId"] = "#editForm";
 			map["url"] = "/admin/mcIndustyClass/save_edit_mcIndustryClass.jspx?ajax=yes";
 			map["title"] = "修改行业";
 			map["loadshow"] = "正在修改......";
 		}
 		map["divDialog"] = "#divdia2";
 		map["gridreload"] = "#dataList";
 		addDialogmcindustryclass(map);
 	}
 	
 	function addDialogmcindustryclass(map) {
 	$(map["divDialog"]).show();
 	$(map["divDialog"]).dialog({
 		title : map["title"],
 		width : 600,
 		height : 300,
 		closed : false,
 		cache : false,
 		href : map["href"],
 		modal : true,
 		buttons : [ {
 			text : '保存',
 			iconCls : 'icon-ok',
 			handler : function() {
 				for(instance in CKEDITOR.instances){
 					CKEDITOR.instances[instance].updateElement();
 				}
 				var savebtn = $(this);
 					var disabled=savebtn.hasClass("l-btn-disabled");
 					if(!disabled){
 					 submitFormmcindustryclass(map,savebtn);
 				}
 			}
 		}/* , {
 			text : '清空',
 			handler : function() {
 				clearForm(map);
 			}
 		} */ ]
 	});
 	}



 	/*
 	新增主营产品
 	*/
 	function submitFormmcmajor(map) {
 		
 	var data = {};
 	//data.mc_industryclass=$("#mc_industryclass").combobox('getValue'); 
 	data.name=$("#mma_name").val();
 	data.sort=$("#mma_sort").val();
 	data.remark=$("#mma_remark").val();
 	//var formflag = $(map["formId"]).form().form('validate');
 	if (data.name != '' && data.sort != '') {
 		$.Loading.show(map["loadshow"]);
 		var options = {
 			url : map["url"],
 			type : "POST",
 			dataType : 'json',
 			data:data,
 			success : function(result) {
 				if (result.result == 1) {
 					$.Loading.show(result.message);
 					$(map["divDialog"]).dialog('close');
 					//$(map["gridreload"]).datagrid('reload');
 					$('#major_product_coll').combobox('reload');//新增后，刷新树
 				}
 				if (result.result == 0) {
 					$.Loading.error(result.message);
 				}
 				$.Loading.hide();
 			},
 			error : function(e) {
 				alert("出现错误 ，请重试");
 			}
 		};
 		console.log(data);
 		$.ajax(options);
 	}
 	}
 	
 	
 	function appendmcmajortwo(id) {
 		var map = {}; // Map map = new HashMap();
 		if (!id) {
 			map["href"] = "/admin/mcMajor/add_mcMajor.jspx?model_yincang=true";
 			map["formId"] = "#addForm";
 			map["url"] = "/admin/mcMajor/doAdd_memberGrade.jspx?ajax=yes&model_yincang=true";
 			map["title"] = "添加信息";
 			map["loadshow"] = "正在添加......";
 		} else {
 			map["href"] = "/admin/mcMajor/edit_memberGrade.jspx?id=" + id;
 			map["formId"] = "#editForm";
 			map["url"] = "/admin/mcMajor/doEdit_memberGrade.jspx?ajax=yes";
 			map["title"] = "修改信息";
 			map["loadshow"] = "正修改......";
 		}
 		map["divDialog"] = "#divdia2";
 		map["gridreload"] = "#dataList";
 		addDialogmcmajortwo(map);
 	}
 	
 	function addDialogmcmajortwo(map) {
 	$(map["divDialog"]).show();
 	$(map["divDialog"]).dialog({
 		title : map["title"],
 		width : 600,
 		height : 300,
 		closed : false,
 		cache : false,
 		href : map["href"],
 		modal : true,
 		buttons : [ {
 			text : '保存',
 			iconCls : 'icon-ok',
 			handler : function() {
 				var savebtn = $(this);
 					var disabled=savebtn.hasClass("l-btn-disabled");
 					if(!disabled){
 					 submitFormmcmajortwo(map,savebtn);
 				}
 			}
 		}/* , {
 			text : '清空',
 			handler : function() {
 				clearForm(map);
 			}
 		} */ ]
 	});
 	}


 	/*
 	新增仪器
 	*/
 	function submitFormmcproductclasstwo(map) {
 		
 	var data = {};
 	data.mc_major=$("#mc_major").combobox('getValue'); 
 	data.name=$("#pr_name").val();
 	data.sort=$("#pr_sort").val();
 	data.remark=$("#pr_remark").val();
 	//var formflag = $(map["formId"]).form().form('validate');
 	if (data.name != '' && data.sort != '' && data.mc_major != '') {
 		$.Loading.show(map["loadshow"]);
 		var options = {
 			url : map["url"],
 			type : "POST",
 			dataType : 'json',
 			data:data,
 			success : function(result) {
 				if (result.result == 1) {
 					$.Loading.show(result.message);
 					$(map["divDialog"]).dialog('close');
 					//$(map["gridreload"]).datagrid('reload');
 					$('#mc_productclass_coll').combobox('reload');//新增后，刷新树
 				}
 				if (result.result == 0) {
 					$.Loading.error(result.message);
 				}
 				$.Loading.hide();
 			},
 			error : function(e) {
 				alert("出现错误 ，请重试");
 			}
 		};
 		console.log(data);
 		$.ajax(options);
 	}
 	}
 	
 	
 	function appendmcproductclasstwo(id) {
 		var map = {}; // Map map = new HashMap();
 		if (!id) {
 			map["href"] = "/admin/basedata/mcproductclass/add_mcproductclass.jspx?model_yincang=true";
 			map["formId"] = "#addForm";
 			map["url"] = "/admin/basedata/mcproductclass/save_mcproductclass.jspx?ajax=yes&model_yincang=true";
 			map["title"] = "添加常用仪器";
 			map["loadshow"] = "正在添加......";
 		} else {
 			map["href"] = "/admin/basedata/mcproductclass/edit_mcproductclass.jspx?id=" + id;
 			map["formId"] = "#editForm";
 			map["url"] = "/admin/basedata/mcproductclass/save_edit_mcproductclass.jspx?ajax=yes";
 			map["title"] = "修改常用仪器";
 			map["loadshow"] = "正在修改......";
 		}
 		map["divDialog"] = "#divdia2";
 		map["gridreload"] = "#dataList";
 		addDialogmcproductclasstwo(map);
 	}
 	
 	function addDialogmcproductclasstwo(map) {
 	$(map["divDialog"]).show();
 	$(map["divDialog"]).dialog({
 		title : map["title"],
 		width : 600,
 		height : 300,
 		closed : false,
 		cache : false,
 		href : map["href"],
 		modal : true,
 		buttons : [ {
 			text : '保存',
 			iconCls : 'icon-ok',
 			handler : function() {
 				for(instance in CKEDITOR.instances){
 					CKEDITOR.instances[instance].updateElement();
 				}
 				var savebtn = $(this);
 					var disabled=savebtn.hasClass("l-btn-disabled");
 					if(!disabled){
 					 submitFormmcproductclasstwo(map,savebtn);
 				}
 			}
 		}/* , {
 			text : '清空',
 			handler : function() {
 				clearForm(map);
 			}
 		} */ ]
 	});
 	}
  
 	/*
 	新增品牌
 	*/
 	function submitFormmcbrand(map) {
 	var data = {};
 	data.mc_productclass=$("#mc_productclass").combobox('getValue');
 	data.name=$("#mb_name").val();
 	data.sort=$("#mb_sort").val();
 	data.remark=$("#mb_remark").val();
 	//var formflag = $(map["formId"]).form().form('validate');
 	if (data.name != '' && data.sort != '' && data.mc_productclass != '') {
 		$.Loading.show(map["loadshow"]);
 		var options = {
 			url : map["url"],
 			type : "POST",
 			dataType : 'json',
 			data:data,
 			success : function(result) {
 				if (result.result == 1) {
 					$.Loading.show(result.message);
 					$(map["divDialog"]).dialog('close');
 					//$(map["gridreload"]).datagrid('reload');
 					$('#mc_brand_coll').combobox('reload');//新增后，刷新树
 				}
 				if (result.result == 0) {
 					$.Loading.error(result.message);
 				}
 				$.Loading.hide();
 			},
 			error : function(e) {
 				alert("出现错误 ，请重试");
 			}
 		};
 		console.log(data);
 		$.ajax(options);
 	}
 	}
 	
 	
 	function appendmcbrandtwo(id) {
 		var map = {}; // Map map = new HashMap();
 		if (!id) {
 			map["href"] = "/admin/mcBrand/add_mcBrand.jspx?model_yincang=true";
 			map["formId"] = "#addForm";
 			map["url"] = "/admin/mcBrand/doAdd_memberGrade.jspx?ajax=yes&model_yincang=true";
 			map["title"] = "添加信息";
 			map["loadshow"] = "正在添加......";
 		} else {
 			map["href"] = "/admin/mcBrand/edit_memberGrade.jspx?id=" + id;
 			map["formId"] = "#editForm";
 			map["url"] = "/admin/mcBrand/doEdit_memberGrade.jspx?ajax=yes";
 			map["title"] = "修改信息";
 			map["loadshow"] = "正修改......";
 		}
 		map["divDialog"] = "#divdia2";
 		map["gridreload"] = "#dataList";
 		addDialogmcbrandtwo(map);
 	}
 	
 	function addDialogmcbrandtwo(map) {
 	$(map["divDialog"]).show();
 	$(map["divDialog"]).dialog({
 		title : map["title"],
 		width : 600,
 		height : 300,
 		closed : false,
 		cache : false,
 		href : map["href"],
 		modal : true,
 		buttons : [ {
 			text : '保存',
 			iconCls : 'icon-ok',
 			handler : function() {
 				for(instance in CKEDITOR.instances){
 					CKEDITOR.instances[instance].updateElement();
 				}
 				var savebtn = $(this);
 					var disabled=savebtn.hasClass("l-btn-disabled");
 					if(!disabled){
 					 submitFormmcbrandtwo(map,savebtn);
 				}
 			}
 		}/* , {
 			text : '清空',
 			handler : function() {
 				clearForm(map);
 			}
 		} */ ]
 	});
 	}	
 	
 	
 	/*
 	新增型号
 	*/
 	function submitFormmcmodel(map) {
 	var data = {};
 	data.mc_brand=$("#mc_brand").combobox('getValue'); 
 	data.name=$("#mm_name").val();
 	data.sort=$("#mm_sort").val();
 	data.remark=$("#mm_remark").val();
 	//var formflag = $(map["formId"]).form().form('validate');
 	if (data.name != '' && data.sort != '' && data.mc_brand != '') {
 		$.Loading.show(map["loadshow"]);
 		var options = {
 			url : map["url"],
 			type : "POST",
 			dataType : 'json',
 			data:data,
 			success : function(result) {
 				if (result.result == 1) {
 					$.Loading.show(result.message);
 					$(map["divDialog"]).dialog('close');
 					//$(map["gridreload"]).datagrid('reload');
 					$('#mc_model_coll').combobox('reload');//新增后，刷新树
 				}
 				if (result.result == 0) {
 					$.Loading.error(result.message);
 				}
 				$.Loading.hide();
 			},
 			error : function(e) {
 				alert("出现错误 ，请重试");
 			}
 		};
 		console.log(data);
 		$.ajax(options);
 	}
 	}
 	
 	
 	/*function appendmcmodel(id) {
 		var map = {}; // Map map = new HashMap();
 		if (!id) {
 			map["href"] = "/admin/mcModel/add_mcModel.jspx?model_yincang=true";
 			map["formId"] = "#addForm";
 			map["url"] = "/admin/mcModel/doAdd_memberGrade.jspx?ajax=yes";
 			map["title"] = "添加型号";
 			map["loadshow"] = "正在添加......";
 		} else {
 			map["href"] = "/admin/mcModel/edit_memberGrade.jspx?id=" + id;
 			map["formId"] = "#editForm";
 			map["url"] = "/admin/mcModel/doEdit_memberGrade.jspx?ajax=yes";
 			map["title"] = "修改型号";
 			map["loadshow"] = "正修改......";
 		}
 		map["divDialog"] = "#divdia2";
 		map["gridreload"] = "#dataList";
 		addDialogmcmodel(map);
 	}*/
 	
 	function addDialogmcmodel(map) {
 	$(map["divDialog"]).show();
 	$(map["divDialog"]).dialog({
 		title : map["title"],
 		width : 600,
 		height : 300,
 		closed : false,
 		cache : false,
 		href : map["href"],
 		modal : true,
 		buttons : [ {
 			text : '保存',
 			iconCls : 'icon-ok',
 			handler : function() {
 				var savebtn = $(this);
 					var disabled=savebtn.hasClass("l-btn-disabled");
 					if(!disabled){
 					 submitFormmcmodel(map,savebtn);
 				}
 			}
 		}/* , {
 			text : '清空',
 			handler : function() {
 				clearForm(map);
 			}
 		} */ ]
 	});
 	}	
 	
  
 /*
  * 新增常用联系人
  */
  function submitFormcontact(map) {
 	 	var data = {};
 	 	data.mc_company=$("#mc_company").combobox('getValue'); 
 		data.name=$("#co_name").val();
 		data.job=$("#co_job").val();
 		data.phone=$("#co_phone").val();
 		data.mail=$("#co_mail").val();
 		data.sort=$("#co_sort").val();
 		data.remark=$("#co_remark").val();
 		//var formflag = $(map["formId"]).form().form('validate');
 		if (data.name != '' && data.phone != '' && data.mc_company != '') {
 			$.Loading.show(map["loadshow"]);
 			var options = {
 				url : map["url"],
 				type : "POST",
 				dataType : 'json',
 				data:data,
 				success : function(result) {
 					if (result.result == 1) {
 						$.Loading.show(result.message);
 						$(map["divDialog"]).dialog('close');
 						//$(map["gridreload"]).datagrid('reload');
 						$('#contact').combobox('reload');//新增后，刷新树
 						$('#name').combobox('reload');//新增后，刷新树
 					}
 					if (result.result == 0) {
 						$.Loading.error(result.message);
 					}
 					$.Loading.hide();
 				},
 				error : function(e) {
 					alert("出现错误 ，请重试");
 				}
 			};
 			$.ajax(options);
 		}
 	}
 function appendcontact(id) {
 	var map = {}; // Map map = new HashMap();
 	if (!id) {
 		map["href"] = "/admin/mcContacts/add_mcContacts.jspx?model_yincang=true";
 		map["formId"] = "#addForm";
 		map["url"] = "/admin/mcContacts/doAdd_memberGrade.jspx?ajax=yes&model_yincang=true";
 		map["title"] = "添加信息";
 		map["loadshow"] = "正在添加......";
 	} else {
 		map["href"] = "/admin/mcContacts/edit_memberGrade.jspx?id=" + id;
 		map["formId"] = "#editForm";
 		map["url"] = "/admin/mcContacts/doEdit_memberGrade.jspx?ajax=yes";
 		map["title"] = "修改信息";
 		map["loadshow"] = "正修改......";
 	}
 		map["divDialog"] = "#divdia2";
 		map["gridreload"] = "#memberdata";
 		addcontact(map);
 	}
 	function addcontact(map) {
 		$(map["divDialog"]).show();
 		$(map["divDialog"]).dialog({
 			title : map["title"],
 			width : 620,
 			height : 400,
 			closed : false,
 			cache : false,
 			href : map["href"],
 			modal : true,
 			buttons : [ {
 				text : '保存',
 				iconCls : 'icon-ok',
 				handler : function() {
 					for(instance in CKEDITOR.instances){
 						CKEDITOR.instances[instance].updateElement();
 					}
 					var savebtn = $(this);
 	　　				var disabled=savebtn.hasClass("l-btn-disabled");
 	　　				if(!disabled){
 	　　					submitFormcontact(map,savebtn);
 					}
 				}
 			}/* , {
 				text : '清空',
 				handler : function() {
 					clearFormcontact(map);
 				}
 			} */ ]
 		});
 	}
 	
  
 	/*
 	*	新增负责人
 	*/
 	function submitFormmcmember(map) {
 		$("#me_password").val($("#me_mima").val());
 		var data = {};
 		data.name=$("#me_name").val();
 		//data.status=$("#me_status").combobox('getValue');
 		data.content=$("#me_content").val();
 		data.phone=$("#me_phone").val();
 		data.username=$("#me_username").val();
 		data.sort=$("#me_sort").val();
 		data.password=$("#me_password").val();
 		//var formflag = $(map["formId"]).form().form('validate');
 		if (data.name != '' && data.username != '' && data.password != ''  && condition_mcmember && data.sort != '') {
 			$.Loading.show(map["loadshow"]);
 			var options = {
 				url : map["url"],
 				type : "POST",
 				dataType : 'json',
 				data:data,
 				success : function(result) {
 					if (result.result == 1) {
 						$.Loading.show(result.message);
 						$(map["divDialog"]).dialog('close');
 						//$(map["gridreload"]).datagrid('reload');
 						$('#blame').combobox('reload');//新增后，刷新树
 					}
 					if (result.result == 0) {
 						$.Loading.error(result.message);
 					}
 					$.Loading.hide();
 				},
 				error : function(e) {
 					alert("出现错误 ，请重试");
 				}
 			};
 			$.ajax(options);
 		}
 	}
 	function appendmcmember(id) {
 		var map = {}; // Map map = new HashMap();
 		if (!id) {
 			map["href"] = "/admin/mcMember/add_mcMember.jspx";
 			map["formId"] = "#addForm";
 			map["url"] = "/admin/mcMember/doAdd_memberGrade.jspx?ajax=yes";
 			map["title"] = "添加信息";
 			map["loadshow"] = "正在添加......";
 		} else {
 			map["href"] = "/admin/mcMember/edit_memberGrade.jspx?id=" + id;
 			map["formId"] = "#editForm";
 			map["url"] = "/admin/mcMember/doEdit_memberGrade.jspx?ajax=yes";
 			map["title"] = "修改信息";
 			map["loadshow"] = "正修改......";
 		}
 		map["divDialog"] = "#divdia2";
 		map["gridreload"] = "#memberdata";
 		addDialogmcmember(map);
 	}
 	
 	function addDialogmcmember(map) {
 		$(map["divDialog"]).show();
 		$(map["divDialog"]).dialog({
 			title : map["title"],
 			width : 600,
 			height : 340,
 			closed : false,
 			cache : false,
 			href : map["href"],
 			modal : true,
 			buttons : [ {
 				text : '保存',
 				iconCls : 'icon-ok',
 				handler : function() {
 					for(instance in CKEDITOR.instances){
 						CKEDITOR.instances[instance].updateElement();
 					}
 					var savebtn = $(this);
 	　　				var disabled=savebtn.hasClass("l-btn-disabled");
 	　　				if(!disabled){
 						 submitFormmcmember(map,savebtn);
 					}
 				}
 			}/* , {
 				text : '清空',
 				handler : function() {
 					clearForm(map);
 				}
 			} */ ]
 		});
 	}
 	
 	
 	/*
 		新增公司
 	*/
 	function submitFormmccompanyname(map) {
 		var data = {};
 		//data.status=$("#me_status").combobox('getValue');
 		data.address=$("#cn_address").val();
 		data.name=$("#cn_name").val();
 		data.phone=$("#cn_phone").val();
 		data.sort=$("#cn_sort").val();
 		data.remark=$("#cn_remark").val();
 		//var formflag = $(map["formId"]).form().form('validate');
 		if (data.name != '' && data.sort != '' && condition_companyname) {
 			$.Loading.show(map["loadshow"]);
 			var options = {
 				url : map["url"],
 				type : "POST",
 				dataType : 'json',
 				data:data,
 				success : function(result) {
 					if (result.result == 1) {
 						$.Loading.show(result.message);
 						$(map["divDialog"]).dialog('close');
 						//$(map["gridreload"]).datagrid('reload');
 						$('#name').combobox('reload');//新增后，刷新树
 					}
 					if (result.result == 0) {
 						$.Loading.error(result.message);
 					}
 					$.Loading.hide();
 				},
 				error : function(e) {
 					alert("出现错误 ，请重试");
 				}
 			};
 			console.log(data);
 			$.ajax(options);
 		}
 	}
 	
 	
 	function appendmccompanyname(id) {
 		var map = {}; // Map map = new HashMap();
 		if (!id) {
 			map["href"] = "/admin/mcCompanyName/add_mcCompanyName.jspx";
 			map["formId"] = "#addForm";
 			map["url"] = "/admin/mcCompanyName/doAdd_memberGrade.jspx?ajax=yes";
 			map["title"] = "添加信息";
 			map["loadshow"] = "正在添加......";
 		} else {
 			map["href"] = "/admin/mcCompanyName/edit_memberGrade.jspx?id=" + id;
 			map["formId"] = "#editForm";
 			map["url"] = "/admin/mcCompanyName/doEdit_memberGrade.jspx?ajax=yes";
 			map["title"] = "修改信息";
 			map["loadshow"] = "正修改......";
 		}
 		map["divDialog"] = "#divdia2";
 		map["gridreload"] = "#memberdata";
 		addDialogmccompanyname(map);
 	}
 	
 	function addDialogmccompanyname(map) {
 		$(map["divDialog"]).show();
 		$(map["divDialog"]).dialog({
 			title : map["title"],
 			width : 600,
 			height : 300,
 			closed : false,
 			cache : false,
 			href : map["href"],
 			modal : true,
 			buttons : [ {
 				text : '保存',
 				iconCls : 'icon-ok',
 				handler : function() {
 					for(instance in CKEDITOR.instances){
 						CKEDITOR.instances[instance].updateElement();
 					}
 					var savebtn = $(this);
 	　　				var disabled=savebtn.hasClass("l-btn-disabled");
 	　　				if(!disabled){
 						 submitFormmccompanyname(map,savebtn);
 					}
 				}
 			}/* , {
 				text : '清空',
 				handler : function() {
 					clearForm(map);
 				}
 			}  */]
 		});
 	}
	
 	var condition_company=true;
 	/*  $("#name").combobox({
		required:true,
		valueField:'id',
		textField:'text',
		editable:true,
		url:'/admin/mcCompanyName/get_mcmember_names.jspx',
		onSelect:function(node){
			$.ajax({
				url:"/admin/ModelCollection/register.jspx",
				data:{name:node.id,edit_name:'${item.name}'},
				dataType:"json",
				type:"post",
				success:function(msg){
					if(msg.cont == 'false'){
						$(".rr_model").text('数据已存在，请修改！');
						condition_company=false;
						return false;
					}
					if(msg.cont == 'true'){
						$(".rr_model").text('');
						condition_company=true;
						return true;
					}
				},
				error:function(){
					alert("网络异常,请重试!");
					return false;
				}
			});
			
					$("#contact").combobox('clear');
					$("#name_fujian").val('false');
					var url ='/admin/mcContacts/get_mcmember_names.jspx?mc_company_id='+node.id;
					$("#contact").combobox('reload',url);//input框中有树方法

		}
	});  */
	
 	 $("#mc_productclass_coll").combobox({
		onSelect:function(node){
					var id=$("#mc_productclass_coll").combobox('getValues');
					var url ='/admin/mcBrand/get_mcmember_names.jspx?mc_product_id='+id.toString();
					$("#mc_brand_coll").combobox('reload',url);//input框中有树方法
					
					var id2=$("#mc_brand_coll").combobox('getValues');
					var url2 ='/admin/mcModel/get_mcmember_names.jspx?mc_model_id='+id2.toString();
					//$("#mc_model_coll").combobox('reload',url2);//input框中有树方法

		},
		onUnselect:function(node){
					var id=$("#mc_productclass_coll").combobox('getValues');
					$("#mc_brand_coll").combobox('clear');//刷新前，先清空树
					//$("#mc_model_coll").combobox('clear');//刷新前，先清空树
					$("#mc_brand_fujian").val('false');
					//$("#mc_model_fujian").val('false');
					var url ='/admin/mcBrand/get_mcmember_names.jspx?mc_brand_coll_type=onunselect&mc_product_id='+id.toString();
					$("#mc_brand_coll").combobox('reload',url);//input框中有树方法
					
					//var id2=$("#mc_brand_coll").combobox('getValues');
					//var url2 ='/admin/mcModel/get_mcmember_names.jspx?mc_brand_coll_type=onunselect&mc_model_id='+id2.toString();
					//$("#mc_model_coll").combobox('reload',url2);//input框中有树方法

		}
	}); 
	
	/* $("#mc_brand_coll").combobox({
		onSelect:function(node){
					var id=$("#mc_brand_coll").combobox('getValues');
					var url ='/admin/mcModel/get_mcmember_names.jspx?mc_model_id='+id.toString();
					$("#mc_model_coll").combobox('reload',url);//input框中有树方法

		},
		onUnselect:function(node){
					var id=$("#mc_brand_coll").combobox('getValues');
					$("#mc_model_coll").combobox('clear');//刷新前，先清空树
					$("#mc_model_fujian").val('false');
					var url ='/admin/mcModel/get_mcmember_names.jspx?mc_model_id='+id.toString();
					$("#mc_model_coll").combobox('reload',url);//input框中有树方法

		}
	});  */
	
	/* $("#mc_industry_class_coll").combobox({
		onSelect:function(node){
					var id=$("#mc_industry_class_coll").combobox('getValues');
					$("#major_product_coll").combobox('clear');//刷新前，先清空树
					$("#major_product_fujian").val('false');
					//combobox.Items.Remove(combobox.SelectedItem);
					// $("#mc_productclass").combobox('clear');//刷新前，先清空树
					//$("#mc_brand").combobox('clear');//刷新前，先清空树
					//$("#mc_model").combobox('clear');//刷新前，先清空树 
					var url ='/admin/mcMajor/get_major_names.jspx?mc_industry_id='+id.toString();
					$("#major_product_coll").combobox('reload',url);//input框中有树方法

		},
		onUnselect:function(node){
					var id=$("#mc_industry_class_coll").combobox('getValues');
					$("#major_product_coll").combobox('clear');//刷新前，先清空树
					$("#major_product_fujian").val('false');
					// $("#mc_productclass").combobox('clear');//刷新前，先清空树
					//$("#mc_brand").combobox('clear');//刷新前，先清空树
					//$("#mc_model").combobox('clear');//刷新前，先清空树 
					var url ='/admin/mcMajor/get_major_names.jspx?mc_industry_id='+id.toString();
					$("#major_product_coll").combobox('reload',url);//input框中有树方法

		}
	});  */  
	
 	$("#major_product_coll").combobox({
		onSelect:function(node){
					var id=$("#major_product_coll").combobox('getValues');
					var url ='/admin/basedata/mcproductclass/get_mcmember_names.jspx?mc_major_id='+id.toString();
					$("#mc_productclass_coll").combobox('reload',url);//input框中有树方法
		},
		onUnselect:function(node){
					var id=$("#major_product_coll").combobox('getValues');
					$("#mc_productclass_fujian").val('false');
					$("#mc_brand_fujian").val('false');
					$("#mc_productclass_coll").combobox('clear');//刷新前，先清空树
					$("#mc_brand_coll").combobox('clear');//刷新前，先清空树
					var url ='/admin/basedata/mcproductclass/get_mcmember_names.jspx?major_product_coll_type=onunselect&mc_major_id='+id.toString();
					$("#mc_productclass_coll").combobox('reload',url);//input框中有树方法
					
					var url ='/admin/mcBrand/get_mcmember_names.jspx?mc_brand_coll_type=onunselect';
					$("#mc_brand_coll").combobox('reload',url);//input框中有树方法

		}
	});  
</script>
	