
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9">
	</meta>
	<title>晧辰仪联网-后台管理</title>
	<style type="text/css">
		body {
			margin: 0px;
			font-family: Arial, "宋体", Verdana, sans-serif;
			font-size: 12px;
		}

		html, body {
			padding: 0;
			margin: 0;
			overflow-x: hidden;
			overflow-y: auto;
		}

		dl, dd {
			margin: 0px
		}

		ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		.input_text2{
			border: 1px solid #D7D7D7;
			border-radius: 3PX;
			/*height: 14PX;*/
			padding: 7px 0 7px 5px;
			line-height: 14PX;
			font-size: 12px;
			display: inline-block;
			width:150px;
		}

		.input_text2:focus {
			border: 1px solid #06F;
			box-shadow: inset 0 1px 2px rgba(0, 102, 255, 0.3);
		}

	</style>
	<script type="text/javascript" src="/editor/ckeditor362/ckeditor.js"></script>
	<script type="text/javascript"
			src="/adminthemes/new/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript"
			src="/adminthemes/new/js/jquery-form-2.33.js"></script>
	<script type="text/javascript" src="/statics/js/area_sql.js"></script>
	<link rel="stylesheet" type="text/css"
		  href="/adminthemes/new/js/easy-ui/themes/gray/easyui.css" />
	<link rel="stylesheet" type="text/css"
		  href="/adminthemes/new/js/easy-ui/themes/icon.css" />
	<script type="text/javascript"
			src="/adminthemes/new/js/easy-ui/jquery.easyui.min.js"></script>
	<script type="text/javascript"
			src="/adminthemes/new/js/easy-ui/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript"
			src="/adminthemes/new/js/jquery.blockUI.js"></script>
	<script type="text/javascript"
			src="/adminthemes/new/js/jquery.loading.js"></script>
	<link href="/adminthemes/new/css/main.css" rel="stylesheet"
		  type="text/css" />
	<link href="/adminthemes/new/css/style.css" rel="stylesheet"
		  type="text/css" />
	<script type="text/javascript" src="/adminthemes/js/BooCu.js"></script>
	<script type="text/javascript"
			src="/adminthemes/new/js/ajaxupload.3.9.js"></script>
	<script type="text/javascript" src="/frontthemes/js/easyuiUtil.js"></script>


	[#include '/template/admin/include/common.html']

</head>
<body>

<div id="bookinfo" style="display: none;"></div>
<div id="loading"></div>
<div class="main">
	<form id="memberform">
		<div id="tb" style="height: auto">
			<a href="javascript:append()" class="button blueButton" id="hre1"
			   data-options="iconCls:'icon-add',plain:true" onclick="ja(0)">添加</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" id="hre2"
			   data-options="plain:true" onclick="del()">删除</a>
			<span style="float: right;">
				<span id="simpleSearch">
					<input id="searchKeyword" class="input_text" type="text" value="" size="30" style="width: 300px;"
						   placeholder="请输入常用联系人" name="searchKeyWord">
					<a href="javascript:void(0)" class="easyui-linkbutton"
					   data-options="plain:true" onclick="searchIndustryClass();">搜索</a>
				</span>
			</span>
		</div>

		<div class="clear height10"></div>
		<div class="shadowBoxWhite tableDiv">
			<table class="easyui-datagrid" id="memberdata"
				   data-options="url:'/admin/mcContacts/getData.json',pageList: [5,10,15,20],pageSize:10,fitColumns:'true',rownumbers:'true'"
				   pagination="true" sortName="create_date" sortOrder="desc" idField="id" treeField="name" checkbox="true">
				<thead>
				<tr>
					<th data-options="field:'id',checkbox:true"></th>
					<th data-options="field:'sort',width:$(this).width()*0.1,align: 'center'" >排序</th>
					<th data-options="field:'name',width:$(this).width()*0.2,align: 'center'">联系人</th>
					<th data-options="field:'job',width:$(this).width()*0.2,align: 'center'">职位</th>
					<th data-options="field:'phone',width:$(this).width()*0.2,align: 'center'">电话</th>
					<th data-options="field:'mail',width:$(this).width()*0.2,align: 'center'">邮箱</th>
					<th data-options="field:'mc_company.id',hidden:true"></th>
					<th data-options="field:'mc_company.name',width:$(this).width()*0.3,align: 'center'">所属公司</th>
					<th data-options="field:'remark',width:$(this).width()*0.3,align: 'center'">备注</th>
					<th data-options="field:'create_date',width:$(this).width()*0.08,sortable:'true',align: 'center'" formatter="formdate">创建时间</th>
					<th id="th1" data-options="field:'action',width:$(this).width()*0.1,align:'center'" formatter="formatOperation">操作</th>
				</tr>
				</thead>
			</table>
		</div>
	</form>
	<div id="divdia" style="display: none;"></div>
	<div id="divdia2" style="display: none;"></div>

</div>
<script type="text/javascript">
    if("${showhandle}"){//非管理员用户，隐藏增删改按钮
        $("#hre1").hide();
        $("#hre2").hide();
        $('#th1').attr('hidden','hidden');
    }

    function submitForm(map) {
        var data = {};
        data.mc_company=$("#mc_company").combobox('getValue');
        var formflag = $(map["formId"]).form().form('validate');
        if (formflag) {
            $.Loading.show(map["loadshow"]);
            var options = {
                url : map["url"],
                type : "POST",
                dataType : 'json',
                success : function(result) {
                    if (result.result == 1) {
                        $.Loading.show(result.message);
                        $(map["divDialog"]).dialog('close');
                        $(map["gridreload"]).datagrid('reload');

                    }
                    if (result.result == 0) {
                        $.Loading.error(result.message);
                    }
                    $.Loading.hide();
                },
                error : function(e) {
                    alert("出现错误 ，请重试");
                }
            };
            $(map["formId"]).ajaxSubmit(options);
        }
    }


    function append(id) {
        var map = {}; // Map map = new HashMap();
        if (!id) {
            map["href"] = "/admin/mcContacts/add_mcContacts.jspx";
            map["formId"] = "#addForm";
            map["url"] = "/admin/mcContacts/doAdd_memberGrade.jspx?ajax=yes";
            map["title"] = "添加信息";
            map["loadshow"] = "正在添加......";
        } else {
            map["href"] = "/admin/mcContacts/edit_memberGrade.jspx?id=" + id;
            map["formId"] = "#editForm";
            map["url"] = "/admin/mcContacts/doEdit_memberGrade.jspx?ajax=yes";
            map["title"] = "修改信息";
            map["loadshow"] = "正修改......";
        }
        map["divDialog"] = "#divdia";
        map["gridreload"] = "#memberdata";
        addDialog(map);
    }

    function addDialog(map) {
        $(map["divDialog"]).show();
        $(map["divDialog"]).dialog({
            title : map["title"],
            width : 620,
            height : 400,
            closed : false,
            cache : false,
            href : map["href"],
            modal : true,
            buttons : [ {
                text : '保存',
                iconCls : 'icon-ok',
                handler : function() {
                    for(instance in CKEDITOR.instances){
                        CKEDITOR.instances[instance].updateElement();
                    }
                    var savebtn = $(this);
                    var disabled=savebtn.hasClass("l-btn-disabled");
                    if(!disabled){
                        submitForm(map,savebtn);
                    }
                }
            }, {
                text : '清空',
                handler : function() {
                    clearForm(map);
                }
            } ]
        });
    }

    function clearForm(map) {
        $(map["formId"]).form('clear');
    }

    function formatOperation(value, row, index) {
        var val = "<a class='edit' title='修改' href='javascript:void(0);' onclick='append("+row.id+")' ></a>";
        return val;
    }
    function formatStatus(value, row, index) {
        return value == "1" ?"正常":"离职";
    }
    function formdate(value, row, index) {
        if(value != null){
            return new Date(value).format("yyyy-MM-dd");
        }

    }
    function showTemplate(value, row, index) {
        return "<a class='details' title='查看' href='javascript:void(0);' onclick='newTab(\""
            + row.templatename
            + "-模版内容\",\"/admin/userGroupMng/getTemplateContext.jspx?template="
            + row.templateId + "\")' >"+row.templatename+"</a>";
    }

    function del() {
        var rows = $('#memberdata').datagrid("getSelections");
        if (rows.length < 1) {
            $.Loading.error("请选择要删除的帮助信息");
            return;
        }
        if (!confirm("确认删除选中的信息？")) {
            return;
        }
        var gradeId=[];
        for(var i=0;i<rows.length;i++){
            gradeId[i]=rows[i].id;
        }

        var options = {
            url : "/admin/mcContacts/delete_mcContacts.jspx?ajax=yes&gradeId="+gradeId,
            type : "POST",
            success : function(result) {

                if (result.result == 1) {
                    $.Loading.success(result.message);
                    $('#memberdata').datagrid('clearChecked');
                    $('#memberdata').datagrid('reload');
                }else{
                    $.Loading.error(result.message);
                }
            },
            error : function(e) {
                $.Loading.error("出现错误 ，请重试");
            }
        };
        $('#memberform').ajaxSubmit(options);
    }
    function searchIndustryClass(){
        var keyword = $("#searchKeyword").val();
        $("#memberdata").datagrid("load",{
            keyword:keyword
        });
    }
</script>
</body>
</html>