<div class="main"
	style="background-color: white; width: 550px; margin-top: 20px; margin-left: 20px;">
	<div class="easyui-panel" style="border-style: none;">
		<form id="editForm" method="post" class="validate">
			<table>
				<tr>
					<th>收件人</th>
					<td><input class="input_text easyui-validatebox" name="rec"
						style="height: 30px;" readonly="readonly" value="${admin.username}"></td>

				</tr>
				<tr>
					<th>标题</th>
					<td><input class="input_text easyui-validatebox" type="text"
						name="title" data-options="required:true"></input></td>
				</tr>
				<tr>
					<th>内容</th>
					<td><textarea class="input_text easyui-validatebox" rows="5"
							cols="" name="context" data-options="required:true"></textarea></td>
				</tr>

			</table>
		</form>
	</div>
</div>