<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>新闻详情 - 晧辰仪联网</title>
[#include '/template/front/include/csslist.html' /]
</head>
<body>
[#include '/template/front/include/header.html' /]
 <!--loading-->
 <div class="listloadingd" id="indexLoading" ></div>
 <!--./loading-->
 <div class="indexContent">
<!--content-->
<div class="main">
  <div class="mainbanner"><img class="lazy" src="/statics/images/grey.gif" data-original="/statics/images/mbanner3.jpg" width="1210" height="200"></div>
  
  <!--newsdetailsd-->
  <div class="newsdetailsd">
    <div class="ndetailstitd">
      [#assign recruit = recruitEntity]
      <p><a href="/" style="text-decoration:none;">首页</a> / <a href="/hr/list.jspx" style="text-decoration:none;">企业招聘</a> / <span><a href="javascript:;" style="color:#0047d9;text-decoration:none;">正文</a></span></p>
    </div>
    <h3>${recruit.title}</h3>
    <div class="timed">发布时间：${recruit.createDate}<i></i>发布者：${recruit.creatuser}<i></i>阅读：${recruit.readtime}</div>
    <!--文章内容-->
    <div class="ndinfod">
    <p>${recruit.content}</p>
    </div>
    <!--./文章内容--> 
  </div>
  <!--./newsdetailsd--> 
  
</div>
<!--./content--> 
</div>
[#include '/template/front/include/footer2.html' /]

[#include '/template/front/include/jslist.html' /]
</body>
</html>
